<div class="col-sm-12">

  <div class="head">
    <h1>Notes</h1>
  </div>
  <div *ngIf="_dvEmptyNoteSearchMsg" class="alert alert-danger fade in" style="margin-top:18px;">
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
    <strong>No matching records found</strong>
  </div>
  <div *ngIf="_Showmessagediv" class="alert alert-success fade in">
    <strong>{{_ShowmessagedivMsg}}</strong>
  </div>

  <div *ngIf="_ShowmessagedivWar" class="alert alert-warning fade in">
    <strong>{{_ShowmessagedivMsgWar}}</strong>
  </div>

  <div *ngIf="_dvEmptyNoteSearchMsg == false" class="fmst customlistpageheight">
    <div class="row MG0">
      <div class="col-sm-12 customgridpadding">

        <div class="cssload-container" *ngIf="_isNoteListFetching">
          <div class="cssload-whirlpool"></div>
        </div>
        <!--<svg *ngIf="_isNoteListFetching" class="spinner" width="25px" height="25px" viewBox="0 0 66 66"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>-->
        <!--<span *ngIf="!_isNoteListFetching">
            <button class="custombutton" style="width:auto" (click)="AddNewNote()">
                Add Note
            </button>
        </span>-->

        <div class="clearfix"></div>

        <wj-flex-grid id="flexnote" #flexnote [itemsSource]="lstNotes" auto-generate-columns="true" allow-add-new="true" allow-sorting="true" showFilterIcons="true" class="wijmogridcss">
          <!--(selectionChanged)="selectionChangedHandler()"-->
          <wj-flex-grid-filter #filter></wj-flex-grid-filter>


          <wj-flex-grid-column [header]="''" [isReadOnly]="true" [width]="'*'">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
              <div>
                <a routerLink='/notedetail/{{cell.item.NoteId}}' (click)="clickednote()" routerLinkActive="active">View</a>
              </div>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Note Id'" [binding]="'CRENoteID'" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Deal name'" [binding]="'DealName'" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Status'" [binding]="'StatusName'" [width]="'*'"></wj-flex-grid-column>

          <wj-flex-grid-column [header]="'Rate type'" [binding]="'RateTypeText'" [width]="'*'"></wj-flex-grid-column>

          <!--<wj-flex-grid-column [header]="'Deal ID'" [binding]="'DealID'" [width]="'*'"></wj-flex-grid-column>-->
          <!--<wj-flex-grid-column [header]="'Account ID'" [binding]="'AccountID'" [width]="'*'"></wj-flex-grid-column>-->
          <wj-flex-grid-column [header]="'Initial interest accrual end date'" [binding]="'InitialInterestAccrualEndDate'" align="right" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Accrual frequency'" [binding]="'AccrualFrequency'" align="right" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Determination date lead days'" [binding]="'DeterminationDateLeadDays'" align="right" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'First payment date'" [binding]="'FirstPaymentDate'" align="right" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'IO term'" [binding]="'IOTerm'" align="right" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Amort term'" [binding]="'AmortTerm'" align="right" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Amort type'" [binding]="'AmortType'" align="right" [width]="'*'"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'Re amortize monthly'" [binding]="'ReAmortizeMonthly'" [width]="'*'"></wj-flex-grid-column>
        </wj-flex-grid>
      </div>
    </div>
  </div>
</div>
