
CREATE TABLE [dbo].[DebtDrawsPaydowns](
	[Liability  Name] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[CRENoteID] [nvarchar](255) NULL,
	[Transaction Date] [datetime] NULL,
	[Transaction Amount] decimal(28,15) NULL,
	[Confirmed] [bit] NOT NULL,
	[Comments] [nvarchar](255) NULL,
	[Asset ID (Deal or Note ID)] [nvarchar](255) NULL
) ON [PRIMARY]
