<form class="inputCenterAlign" #hf="ngForm">
  <div class="col-sm-12">
    <div class="head fixheaderdiv">
      <h1 style="display: inline-block; margin-top: 10px;">
        Servicing Import
      </h1>

      <!--<div class="col-sm-3">
          <label class="lab1">To Date</label>
          <wj-input-date id="ToDate" [(value)]="ToDate"  class="ibox1 rightalign"  [placeholder]="'M/d/yyyy'"></wj-input-date>
      </div>-->
      <!--<span>
          <button type="submit" tooltip="Import" class="custombutton" (click)="ImportServicing()">Import</button>
      </span>-->
      <div *ngIf="_ShowdivMsgWar" class="alert alert-danger fade in">
        <strong>{{_WarmsgdashBoad}}</strong>
      </div>

    </div>
    <div class="cssload-container" *ngIf="isProcessComplete">
      <div class="cssload-whirlpool"></div>
    </div>
    <div class="fmst fixheadercontent customlistpageheight">
      <div class="box1a">
        <div class="form-group row pD10">

          <div class="row MG0">
            <div class="col-sm-3">
              <label class="lab1">Start Date</label>

              <wj-input-date id="_FromDate" [(value)]="_FromDate" class="ibox1 rightalign" [format]="'d'" [isRequired]="false" [placeholder]="'M/d/yyyy'"></wj-input-date>
            </div>
            <div class="col-sm-3">
              <label class="lab1">End Date</label>
              <wj-input-date id="_ToDate" [(value)]="_ToDate" class="ibox1 rightalign" [format]="'d'" [isRequired]="false" [placeholder]="'M/d/yyyy'"></wj-input-date>
            </div>
            <div class="col-sm-3">
              <button type="submit" tooltip="Import" class="custombutton" (click)="ImportServicing()">Import</button>
            </div>
            <div class="col-sm-12">

              <label class="lab1">Select Servicing File</label>
              <!--<ng2-file-input [id]="myFileInputIdentifier" (onCouldNotRemove)="onCouldNotRemove($event)" [multiple]="true" (onRemoved)="onRemoved($event)" (onAdded)="onAdded($event)" (onAction)="onAction($event)"></ng2-file-input>-->
              
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="myModal" class="modal">
      <div class="modal-dialog" draggable="true" id="myModal" style="min-height:300px;width:500px">
        <!-- Modal content -->
        <div class="modal-content" style="padding:0px;border:0px;">
          <div class="modal-header" style="background:#2196f3 !important">
            <span class="customheading" style="color:white !important">Servicing Import</span>
            <span class="close" (click)="ClosePopUp()">×</span>
          </div>

          <div class="modal-body">
            <span class="customheading">{{validationmessage}}</span>

          </div>
          <div class="modal-footer" style="background-color:white !important;">
            <button type="button" (click)="ClosePopUp()" class="custombutton" style="width:100px !important">Cancel</button>
            <button type="button" (click)="importServicing()" class="custombutton" style="width:100px !important">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
      <div>
        <div id="dialogboxhead"></div>
        <div id="dialogboxbody"></div>
        <div id="dialogboxfoot"><span class="btn custombutton" (click)="ok()">Ok</span></div>
      </div>
    </div>
  </div>
</form>

