<form class="inputCenterAlign" #hf="ngForm">
  <div class="col-sm-12 w7">
    <div class="head fixheaderdiv">
      <h1>Deal: {{_backshopImport.DealName}}</h1>
    </div>

    <div class="fmst fixheadercontent">

      <div class="form-group row pD10">

        <div class="col-sm-12">
          <button type="button" class="custombutton" (click)="DeleteINUnderwritingDealDataByDealID()">Cancel</button>
          <button type="button" class="custombutton" (click)="ImportLandingtableToMainDB()">Save</button>


        </div>

        <div class="col-sm-12">
          <div class="box1a">
            <h3>Deal</h3>
            <div class="form-group row pD10">
              <div class="col-sm-12">

                <div class="col-sm-3">
                  <label class="lab1">Asset Manager</label>
                  <input class="ibox1" type="text" readonly [(ngModel)]="IN_UnderwritingDealData.AssetManager" name="AssetManager" #AssetManager="ngModel">
                </div>
                <div class="col-sm-3">
                  <label class="lab1">City</label>
                  <input class="ibox1" type="text" readonly [(ngModel)]="IN_UnderwritingDealData.DealCity" name="DealCity" #DealCity="ngModel">
                </div>
                <div class="col-sm-3">
                  <label class="lab1">State</label>
                  <input class="ibox1" type="text" readonly [(ngModel)]="IN_UnderwritingDealData.DealState" name="DealState" #DealState="ngModel">
                </div>
                <div class="col-sm-3">
                  <label class="lab1">Property Type</label>
                  <input class="ibox1" type="text" readonly [(ngModel)]="IN_UnderwritingDealData.DealPropertyType" name="DealPropertyType" #DealPropertyType="ngModel">
                </div>
                <div class="col-sm-3">
                  <label class="lab1">Total Commitment</label>
                  <input class="ibox1" type="text" readonly [(ngModel)]="IN_UnderwritingDealData.TotalCommitment" name="TotalCommitment" #TotalCommitment="ngModel">
                </div>
                <div class="col-sm-3">
                  <label class="lab1">Fully Ext Maturity Date</label>
                  <input class="ibox1" type="text" readonly [(ngModel)]="IN_UnderwritingDealData.FullyExtMaturityDate" name="FullyExtMaturityDate" #FullyExtMaturityDate="ngModel">
                </div>
              </div>

            </div>
          </div>
          <div class="row MG0">
            <div class="box1a">
              <h3>Notes</h3>

              <div class="form-group row pD10">
                <div class="col-sm-12">
                  <wj-flex-grid id="flex" #flex [itemsSource]="lstIN_UnderwritingNotes" class="gridSize" [frozenColumns]="2">

                    <wj-flex-grid-column [header]="'Note name'" [isReadOnly]="true" [width]="'*'">
                      <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                        <div>
                          <!--<a routerLink='/IN_UnderwritingNoteDetail/{{cell.item.IN_UnderwritingNoteID}}' routerLinkActive="active" >{{cell.item.Name}}</a>-->
                          <a href='/#/IN_UnderwritingNoteDetail/{{cell.item.IN_UnderwritingNoteID}}' routerLinkActive="active" target="_blank">{{cell.item.Name}}</a>
                        </div>
                      </ng-template>
                    </wj-flex-grid-column>

                    <wj-flex-grid-column [header]="'IN_UnderwritingNoteID'" [binding]="'IN_UnderwritingNoteID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'IN_UnderwritingAccountID'" [binding]="'IN_UnderwritingAccountID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'IN_UnderwritingDealID'" [binding]="'IN_UnderwritingDealID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                    <!--<wj-flex-grid-column [header]="'PayFrequency'" [binding]="'PayFrequency'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>-->
                    <wj-flex-grid-column [header]="'Pay frequency'" [binding]="'PayFrequency'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Client Note Id'" [binding]="'ClientNoteID'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Closing date'" [binding]="'ClosingDate'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'First payment date'" [binding]="'FirstPaymentDate'" data-type="date" dataFormatString="MM/dd/yyyy" format="MM/dd/yyyy" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Selected maturity date'" [binding]="'SelectedMaturityDate'" data-type="date" dataFormatString="MM/dd/yyyy" format="MM/dd/yyyy" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Initial funding amount'" [binding]="'InitialFundingAmount'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Origination fee'" [binding]="'OriginationFee'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'IO term'" [binding]="'IOTerm'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Amort term'" [binding]="'AmortTerm'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Determination date lead days'" [binding]="'DeterminationDateLeadDays'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Determination date reference day of the month'" [binding]="'DeterminationDateReferenceDayoftheMonth'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Rounding method'" [binding]="'RoundingMethod'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Rounding method'" [binding]="'RoundingMethodText'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Index rounding rule'" [binding]="'IndexRoundingRule'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Status Id'" [binding]="'StatusID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Status'" [binding]="'StatusIDText'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Expected Maturity Date'" [binding]="'ExpectedMaturityDate'" data-type="date" dataFormatString="MM/dd/yyyy" format="MM/dd/yyyy" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Extended Maturity Scenario1'" [binding]="'ExtendedMaturityScenario1'" data-type="date" dataFormatString="MM/dd/yyyy" format="MM/dd/yyyy" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Extended Maturity Scenario2'" [binding]="'ExtendedMaturityScenario2'" data-type="date" dataFormatString="MM/dd/yyyy" format="MM/dd/yyyy" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Extended Maturity Scenario3'" [binding]="'ExtendedMaturityScenario3'" data-type="date" dataFormatString="MM/dd/yyyy" format="MM/dd/yyyy" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>

                    <wj-flex-grid-column [header]="'Initial Maturity Date'" [binding]="'InitialMaturityDate'" data-type="date" dataFormatString="MM/dd/yyyy" format="MM/dd/yyyy" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>

                    <wj-flex-grid-column [header]="'Lien Position'" [binding]="'lienpositionText'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'priority'" [binding]="'priority'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>


                  </wj-flex-grid>
                </div>

              </div>
            </div>
          </div>
          <div class="cssload-container" *ngIf="isProcessComplete">
            <div class="cssload-whirlpool"></div>
          </div>

        </div>


      </div>

      <div id="dialogoverlay"></div>
      <div id="dialogbox">
        <div>
          <div id="dialogboxhead"></div>
          <div id="dialogboxbody"></div>
          <div id="dialogboxfoot"><span class="btn custombutton" (click)="ok()">Ok</span></div>
        </div>
      </div>

    </div>
  </div>
</form>
