<form class="inputCenterAlign" #hf="ngForm">
  <div class="col-sm-12 w7">
    <div class="head  fixheaderdiv">
      <h1>Note: {{IN_UnderwritingNotesDC.Name}}</h1>
    </div>
    <div class="table fixheadercontent">
      <div class="row MG0">
        <div class="box1a">
          <h3>Underwriting rate spread schedule</h3>
          <div class="form-group row pD10">
            <div class="col-sm-12">
              <wj-flex-grid [itemsSource]="lstINUnderwritingRateSpreadSchedule" class="gridSize">

                <wj-flex-grid-column [header]="'IN_UnderwritingNoteID'" [binding]="'IN_UnderwritingNoteID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingAccountID'" [binding]="'IN_UnderwritingAccountID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingRateSpreadScheduleID'" [binding]="'IN_UnderwritingRateSpreadScheduleID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingEventID'" [binding]="'IN_UnderwritingEventID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Date'" [binding]="'Date'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'ValueTypeID'" [binding]="'ValueTypeID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Value type'" [binding]="'ValueTypeIDText'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Value'" [binding]="'Value'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IntCalcMethodID'" [binding]="'IntCalcMethodID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Int calc method'" [binding]="'IntCalcMethodIDText'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'CreatedBy'" [binding]="'CreatedBy'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'CreatedDate'" [binding]="'CreatedDate'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'UpdatedBy'" [binding]="'UpdatedBy'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'UpdatedDate'" [binding]="'UpdatedDate'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>


              </wj-flex-grid>
            </div>
          </div>
        </div>
        <div class="box1a">
          <h3>Underwriting stripping schedule</h3>
          <div class="form-group row pD10">
            <div class="col-sm-12">
              <wj-flex-grid [itemsSource]="lstINUnderwritingStrippingSchedule" class="gridSize">

                <wj-flex-grid-column [header]="'IN_UnderwritingNoteID'" [binding]="'IN_UnderwritingNoteID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingAccountID'" [binding]="'IN_UnderwritingAccountID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingStrippingScheduleID'" [binding]="'IN_UnderwritingStrippingScheduleID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingEventID'" [binding]="'IN_UnderwritingEventID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Start date'" [binding]="'StartDate'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'ValueTypeID'" [binding]="'ValueTypeID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Value type'" [binding]="'ValueTypeIDText'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Value'" [binding]="'Value'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'CreatedBy'" [binding]="'CreatedBy'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'CreatedDate'" [binding]="'CreatedDate'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'UpdatedBy'" [binding]="'UpdatedBy'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'UpdatedDate'" [binding]="'UpdatedDate'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>


              </wj-flex-grid>
            </div>
          </div>
        </div>

        <div class="box1a">
          <h3>Underwriting PIK schedule</h3>
          <div class="form-group row pD10">
            <div class="col-sm-12">
              <wj-flex-grid [itemsSource]="lstINUnderwritingPIKSchedule" class="gridSize">

                <wj-flex-grid-column [header]="'IN_UnderwritingNoteID'" [binding]="'IN_UnderwritingNoteID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingAccountID'" [binding]="'IN_UnderwritingAccountID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingPIKScheduleID'" [binding]="'IN_UnderwritingPIKScheduleID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'IN_UnderwritingEventID'" [binding]="'IN_UnderwritingEventID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Additional int rate'" [binding]="'AdditionalIntRate'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Start date'" [binding]="'StartDate'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'End date'" [binding]="'EndDate'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'CreatedBy'" [binding]="'CreatedBy'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'CreatedDate'" [binding]="'CreatedDate'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'UpdatedBy'" [binding]="'UpdatedBy'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'UpdatedDate'" [binding]="'UpdatedDate'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
              </wj-flex-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<div style="width:100%;height:500px">
      <div class="col-md-12 mydealsPanel">
          <div class="panel-heading">Underwriting Funding Schedule</div>

          <wj-flex-grid [itemsSource]="lstIN_UnderwritingFundingSchedule" style="width:100%;height:500px">

              <wj-flex-grid-column [header]="'IN_UnderwritingNoteID'" [binding]="'IN_UnderwritingNoteID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
              <wj-flex-grid-column [header]="'IN_UnderwritingAccountID'" [binding]="'IN_UnderwritingAccountID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>

                <wj-flex-grid-column [header]="'IN_UnderwritingFundingScheduleID'" [binding]="'IN_UnderwritingFundingScheduleID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>
              <wj-flex-grid-column [header]="'IN_UnderwritingEventID'" [binding]="'IN_UnderwritingEventID'" [isReadOnly]="true" [visible]="false" [width]="'*'"></wj-flex-grid-column>

              <wj-flex-grid-column [header]="'Date'" [binding]="'Date'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
              <wj-flex-grid-column [header]="'Value'" [binding]="'Value'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>

              <wj-flex-grid-column [header]="'CreatedBy'" [binding]="'CreatedBy'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
              <wj-flex-grid-column [header]="'CreatedDate'" [binding]="'CreatedDate'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
              <wj-flex-grid-column [header]="'UpdatedBy'" [binding]="'UpdatedBy'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
              <wj-flex-grid-column [header]="'UpdatedDate'" [binding]="'UpdatedDate'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>


          </wj-flex-grid>
      </div>
  </div>-->

</form>
