<form #f="ngForm">
  <div class="col-sm-12">
    <div class="head fixheaderdiv">

      <h1 style="display: inline-block; margin-top: 10px;">
        Dynamic Portfolio Detail: {{_portfolio.PortfolioName}}
      </h1>

      <span>
        <button class="custombutton" (click)="Cancel()">
          Cancel
        </button>

        <button class="custombutton" (click)="SavePortfolio()">
          Save
        </button>

      </span>



      <div *ngIf="_ShowmessagedivWar" class="alert alert-warning fade in">
        <strong>{{_ShowmessagedivMsgWar}}</strong>
      </div>

    </div>


    <div class="fmst fixheadercontent">
      <div class="cssload-container" *ngIf="_isScenarioDetailFetching">
        <div class="cssload-whirlpool"></div>
      </div>

      <div class="">
        <div class="form-group row pD10">

          <div class="col-sm-12" style="height:500px;">
            <table style="width:80%;">
              <tr>
                <td class="customtd"><label class="lab1">Dynamic Portfolio Name</label></td>
                <td>
                  <input class="ibox1" required type="text" [(ngModel)]="_portfolio.PortfolioName" name="PortfolioName" ngControl="PortfolioName" #PortfolioName="ngModel" id="PortfolioName">
                </td>
              </tr>

              <tr>
                <td class="customtd"><label class="lab1">Description</label></td>
                <td>

                  <textarea style="font-family: inherit;font-size: inherit;" class="ibox1 input-lg" rows="5" cols="60" [(ngModel)]="_portfolio.Description" name="Description" #Description="ngModel" id="Description"></textarea>
                </td>
              </tr>
              <tr>
                <td class="customtd">
                  <label class="lab1">Fund Filter</label>
                </td>
                <td>
                  <wj-multi-select #multiselFund id="multiselFund"
                                   [placeholder]="'Select Fund'"
                                   class="ibox1 multiselect-dropdown display-table-cell"
                                   [itemsSource]="lstFund"
                                   [headerFormat]="'{count} funds selected'"
                                   [displayMemberPath]="'FundName'"
                                   [checkedMemberPath]="'selected'"
                                   [maxHeaderItems]="50">
                  </wj-multi-select>

                </td>
              </tr>
              <tr>
                <td class="customtd">
                  <label class="lab1">Pool Filter</label>
                </td>
                <td>
                  <wj-multi-select #multiselPool id="multiselPool"
                                   [placeholder]="'Select Pool'"
                                   class="ibox1 multiselect-dropdown display-table-cell"
                                   [itemsSource]="lstPool"
                                   [headerFormat]="'{count} pools selected'"
                                   [displayMemberPath]="'Name'"
                                   [checkedMemberPath]="'selected'"
                                   [maxHeaderItems]="50">
                  </wj-multi-select>

                </td>
              </tr>
              <tr>
                <td class="customtd">
                  <label class="lab1">Client Filter</label>
                </td>
                <td>
                  <wj-multi-select #multiselClient id="multiselClient"
                                   [placeholder]="'Select Client'"
                                   class="ibox1 multiselect-dropdown display-table-cell"
                                   [itemsSource]="lstClient"
                                   [headerFormat]="'{count} clients selected'"
                                   [displayMemberPath]="'ClientName'"
                                   [checkedMemberPath]="'selected'"
                                   [maxHeaderItems]="50">
                  </wj-multi-select>

                </td>
              </tr>
              <tr>
                <td class="customtd">
                  <label class="lab1">FinancingSource Filter</label>
                </td>
                <td>
                  <wj-multi-select #multiselFinancingSource id="multiselFinancingSource"
                                   [placeholder]="'Select Financing Source'"
                                   class="ibox1 multiselect-dropdown display-table-cell"
                                   [itemsSource]="lstfinancingsource"
                                   [headerFormat]="'{count} financingsources selected'"
                                   [displayMemberPath]="'FinancingSourceName'"
                                   [checkedMemberPath]="'selected'"
                                   [maxHeaderItems]="50">
                  </wj-multi-select>

                </td>
              </tr>
              <tr>
                <td class="customtd"><label class="lab1">Show whole Deal</label></td>
                <td>
                  <input type="checkbox" [(ngModel)]="_portfolio.AllowWholeDeal" name="AllowWholeDeal" ngControl="AllowWholeDeal" #PortfolioName="ngModel" id="AllowWholeDeal">
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
