<?xml version="1.0" encoding="utf-8"?>
<!--<configuration>

  -->
<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
<!--
  -->
<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
<!--

</configuration>-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <dataConfiguration defaultDatabase="LoggingInDB" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--Local-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=192.168.1.250;initial catalog=CRES4_QA;user id=admin;password=admin1*;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=192.168.1.250;initial catalog=CRES4_QA;user id=admin;password=admin1*;" providerName="System.Data.SqlClient" />-->
    <!--Alpha(Testing)-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_ALPHA;user id=Cres4_qa;password=K55/=y-}/?JheFf;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_ALPHA;user id=CRES4_QA;password=K55/=y-}/?JheFf;" providerName="System.Data.SqlClient" />-->
    <!--QA(Testing)-->
    <add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki1.database.windows.net;initial catalog=CRES4_QA;user id=Cres4_qa;password=K55/=y-}/?JheFf;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki1.database.windows.net;initial catalog=CRES4_QA;user id=Cres4_qa;password=K55/=y-}/?JheFf;" providerName="System.Data.SqlClient" />
    <!--DevCRES4(Azure Dev)-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_DEV;user id=Cres4_dev;password=d9vWuP)[WEhu})W;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_Dev;user id=Cres4_dev;password=d9vWuP)[WEhu})W;" providerName="System.Data.SqlClient" />-->
    <!--DevCRES4 with admin crediantials(Azure Dev)-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_DEV;user id=CREAdmin;password=Indore2016#;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_Dev;user id=CREAdmin;password=Indore2016#;" providerName="System.Data.SqlClient" />-->
    <!--Acore Production(Web site)-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_Acore;user id=AcoreProd;password=rB^`6eB3LsbX=Fx;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_Acore;user id=AcoreProd;password=rB^`6eB3LsbX=Fx;" providerName="System.Data.SqlClient" />-->
    <!-- Staging -->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=Cres4_staging;user id=Cres4_staging;password=h9vWuP)[WEhu})S;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=Cres4_staging;user id=Cres4_staging;password=h9vWuP)[WEhu})S;" providerName="System.Data.SqlClient" />-->
    <!--Integration-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_Integration;user id=CRES4_Integration;password=d9vWuP)[WEhu})P;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_Integration;user id=CRES4_Integration;password=d9vWuP)[WEhu})P;" providerName="System.Data.SqlClient"/>-->
    <!-- CRES_Demo Live (for Demo Web )-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_Demo;user id=CREAdmin;password=Indore2016#;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_Demo;user id=CREAdmin;password=Indore2016#;" providerName="System.Data.SqlClient" />-->
    <!--Live (for Excel)-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_PROD;user id=CREAdmin;password=Indore2016#;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_PROD;user id=CREAdmin;password=Indore2016#;" providerName="System.Data.SqlClient" />-->
    <!--Paraller Production(Web site)-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_PP;user id=CREAdmin;password=Indore2016#;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_PP;user id=CREAdmin;password=Indore2016#;" providerName="System.Data.SqlClient" />-->
    <!-- CRES_AC Live (for New Web )-->
    <!--<add name="CRESEntities" connectionString="metadata=res://*/CRESModel.csdl|res://*/CRESModel.ssdl|res://*/CRESModel.msl;provider=System.Data.SqlClient;provider connection string='data source=b0xesubcki.database.windows.net;initial catalog=CRES4_AC;user id=CREAdmin;password=Indore2016#;MultipleActiveResultSets=True;application name=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="LoggingInDB" connectionString="Data Source=b0xesubcki.database.windows.net;initial catalog=CRES4_AC;user id=CREAdmin;password=Indore2016#;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--Json length setting-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!--Common -->
    <add key="localapiPath" value="http://localhost:61728/" />
    <add key="liveapiPath" value="http://cre4api.azurewebsites.net/" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--PowerBI Embeded-->
    <add key="pbiauthorityUrl" value="https://login.windows.net/common/oauth2/authorize/" />
    <add key="pbiresourceUrl" value="https://analysis.windows.net/powerbi/api" />
    <add key="pbiapiUrl" value="https://api.powerbi.com" />
    <add key="pbiembedUrlBase" value="https://app.powerbi.com/" />
    <add key="pbiclientId" value="dd5b9fb6-4682-4077-8f23-a5bbf25749d5" />
    <!--value="e8ac2779-c699-4c90-b2db-eafa4e8295ba"/>-->
    <!--<add key="pbigroupId" value="532ef91a-a708-4605-97c5-e4b84f4e0c99"/>-->
    <add key="pbireportId" value="" />
    <add key="pbiUsername" value="admin@m61systems.com" />
    <add key="pbiPassword" value="baKb@?B.qX`3XptJ" />
    <add key="DefaultExpirationSeconds" value="10" />
    <!--Box JWT authentication-->
    <add key="Box_Client_Id" value="n6jo6mu5c3577r8q6flrmuconnu1kuak" />
    <add key="Box_Client_Secret" value="S5SlOpJj2EblfomjUUOqjIr0vHjEA9iv" />
    <add key="Box_EnterpriseId" value="81286627" />
    <add key="Box_PrivateKeyPassword" value="c9506b272cead75bd3fcc39cde458ef5" />
    <add key="Box_PublicKeyId" value="a88q5b1r" />
    <add key="Box_Client_Folder" value="DevContainer" />
    <!--Local -->
    <add key="_calcServiceEndPoint" value="http://localhost:63477/api/note/CalculateNoteWeb" />
    <add key="ApplicationName" value="CRES-Dev" />
    <add key="LoggerInfoEnable" value="true" />
    <add key="LoggerExceptionEnable" value="true" />
    <add key="LoggerCalculatorEnable" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="EmailBaseUrl" value="http://localhost:4977/" />
    <add key="contactemail" value="support@M61Systems.com" />
    <add key="ServerName" value="M61-Local" />
    <add key="storage:account:name" value="cresdocument" />
    <add key="storage:account:key" value="Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA==" />
    <add key="storage:container:name" value="devcontainer" />
    <add key="storage:container:connectionstring" value="DefaultEndpointsProtocol=https;AccountName=cresdocument;AccountKey=Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA==;EndpointSuffix=core.windows.net" />
    <add key="storage:account:url" value="https://cresdocument.blob.core.windows.net/" />
    <add key="pbigroupId" value="ce036e78-f679-45d8-9301-3b11d2ce732b" />
    <!--periodic close database backup-->
    <add key="blobkey" value="cjHDvVrAJFOuqV/6JVAJnrOCym9B0JW0jAMuo8pZASelw4wYwQ3sQCmCiKwhqvQIaQ+V9d8x4qH9h6CzVQwvuA==" />
    <add key="bloburl" value="https://cres5appbackup.blob.core.windows.net/dbcontainer/" />
    <add key="sqlservername" value="b0xesubcki.database.windows.net" />
    <add key="sqldatabasename" value="CRES4_Test" />
    <add key="sqlusername" value="CREAdmin" />
    <add key="sqlpassword" value="Indore2016#" />
    <add key="exportwebserviceurl" value="https://by1prod-dacsvc.azure.com/DACWebService.svc/Export" />
    <!--QA(Testing)-->
    <!--<add key="_calcserviceendpoint" value="https://qacrescalculator.azurewebsites.net/api/note/calculatenoteweb" />
     <add key="_calculatemutiplenoteapi" value="https://qacrescalculator.azurewebsites.net/api/note/calculatemutiplenote" />
     <add key="applicationname" value="cres-qa" />
     <add key="loggerinfoenable" value="true" />
     <add key="loggerexceptionenable" value="true" />
     <add key="loggercalculatorenable" value="true" />
     <add key="emailbaseurl" value="https://qacres4.azurewebsites.net/"/>
     <add key="contactemail" value="support@m61systems.com"/>
     <add key="servername" value="m61-qa"/>
     
      <add key="powerbi:accesskey" value="ymfagpw1hqklrmszxuqri+zgtqjuitdbt+fvck5i4j8oufmcrs9wxkbxlz2ououfgpc2fmfhhbkemnjrkbppbg==" />
      <add key="powerbi:apiurl" value="https://api.powerbi.com" />
      <add key="powerbi:workspacecollection" value="qacres4pbiworkspace" />
      <add key="powerbi:workspaceid" value="71385cf5-2b48-4216-b0a4-94c05176c7a1" />
    
      <add key="storage:account:name" value="cresdocument"/>
      <add key="storage:account:key" value="kw0ejf+btnua5cly3a4loyw3p+ba471vbrvlvmdv6ywe/spb8ixqq9y37u/b4ts4lwmchkzhfuc3j6vwuy3hea=="/>
      <add key="storage:container:name" value="qacontainer"/>
      <add key="storage:container:connectionstring" value="defaultendpointsprotocol=https;accountname=cresdocument;accountkey=kw0ejf+btnua5cly3a4loyw3p+ba471vbrvlvmdv6ywe/spb8ixqq9y37u/b4ts4lwmchkzhfuc3j6vwuy3hea==;endpointsuffix=core.windows.net" />
      <add key="storage:account:url" value="https://cresdocument.blob.core.windows.net/" />
    
      <add key="pbigroupId" value="b29ba09d-5148-4175-a5e3-8fee3a055cca"/>-->
    <!--DevCRES4(Azure Dev)-->
    <!--<add key="_calcServiceEndPoint" value="https://devcrescalculator.azurewebsites.net/api/note/CalculateNoteWeb" />
     <add key="_calculatemutiplenoteAPI" value="https://devcrescalculator.azurewebsites.net/api/note/calculatemutiplenote" />
     <add key="ApplicationName" value="CRES-DEV" />
     <add key="LoggerInfoEnable" value="true" />
     <add key="LoggerExceptionEnable" value="true" />
     <add key="LoggerCalculatorEnable" value="true" />
     <add key="EmailBaseUrl" value="https://devcres4.azurewebsites.net/"/>
     <add key="contactemail" value="support@M61Systems.com"/>
     <add key="ServerName" value="M61-Dev"/>

    <add key="powerbi:AccessKey" value="yMFagPw1hqKlRMSzxUQrI+ZGtqJUITDBT+fvCK5I4j8OUFMCrs9wXKbxlZ2ouOUfGpC2FmFHHbkEmNJRKBppBg==" />
    <add key="powerbi:ApiUrl" value="https://api.powerbi.com" />
    <add key="powerbi:WorkspaceCollection" value="qaCRES4PBIWorkspace" />
    <add key="powerbi:WorkspaceId" value="71385cf5-2b48-4216-b0a4-94c05176c7a1" />

    <add key="storage:account:name" value="cresdocument"/>
    <add key="storage:account:key" value="Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA=="/>
    <add key="storage:container:name" value="devcontainer"/>
    <add key="storage:container:connectionstring" value="DefaultEndpointsProtocol=https;AccountName=cresdocument;AccountKey=Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA==;EndpointSuffix=core.windows.net" />
    <add key="storage:account:url" value="https://cresdocument.blob.core.windows.net/" />
    
    <add key="pbigroupId" value="ce036e78-f679-45d8-9301-3b11d2ce732b"/>-->
    <!--Acore Production(Web site)-->
    <!--<add key="_calcServiceEndPoint" value="https://AcoreCalculator.azurewebsites.net/api/note/CalculateNoteWeb" />
    <add key="_calculatemutiplenoteAPI" value="https://AcoreCalculator.azurewebsites.net/api/note/calculatemutiplenote" />
    <add key="ApplicationName" value="CRES-Acore" />
    <add key="LoggerInfoEnable" value="true" />
    <add key="LoggerExceptionEnable" value="true" />
    <add key="EmailBaseUrl" value="https://acore.azurewebsites.net/"/>
    <add key="contactemail" value="support@M61Systems.com"/>
    <add key="ServerName" value="M61-Acore"/>

    <add key="powerbi:AccessKey" value="3HEZ6iXM9bDcf9W+bLx7WiRNZxNYskmT49AsoBcLgTlqY6u5nZ0ZrZgZIDoHv4BHEvH2tT6hjmM9RbX9rOoyZw==" />
    <add key="powerbi:ApiUrl" value="https://api.powerbi.com" />
    <add key="powerbi:WorkspaceCollection" value="CRES4PBIWorkspace" />
    <add key="powerbi:WorkspaceId" value="01502786-4120-4466-95d3-75c90e68314a" />

    <add key="storage:account:name" value="cresdocument"/>
    <add key="storage:account:key" value="Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA=="/>
    <add key="storage:container:name" value="acorecontainer"/>
    <add key="storage:container:connectionstring" value="DefaultEndpointsProtocol=https;AccountName=cresdocument;AccountKey=Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA==;EndpointSuffix=core.windows.net" />
    <add key="storage:account:url" value="https://cresdocument.blob.core.windows.net/" />
    
    <add key="pbigroupId" value="532ef91a-a708-4605-97c5-e4b84f4e0c99"/>-->
    <!--Staging-->
    <!--<add key="_calcserviceendpoint" value="https://stagingcres4calculator.azurewebsites.net/api/note/calculatenoteweb" />
     <add key="_calculatemutiplenoteapi" value="https://stagingcres4calculator.azurewebsites.net/api/note/calculatemutiplenote" />
     <add key="applicationname" value="cres-staging" />
     <add key="loggerinfoenable" value="true" />
     <add key="loggerexceptionenable" value="true" />
     <add key="loggercalculatorenable" value="true" />
     <add key="emailbaseurl" value="https://stagingcres4calculator.azurewebsites.net/"/>
     <add key="contactemail" value="support@m61systems.com"/>
     <add key="servername" value="m61-staging"/>

    <add key="powerbi:accesskey" value="ymfagpw1hqklrmszxuqri+zgtqjuitdbt+fvck5i4j8oufmcrs9wxkbxlz2ououfgpc2fmfhhbkemnjrkbppbg==" />
    <add key="powerbi:apiurl" value="https://api.powerbi.com" />
    <add key="powerbi:workspacecollection" value="qacres4pbiworkspace" />
    <add key="powerbi:workspaceid" value="71385cf5-2b48-4216-b0a4-94c05176c7a1" />

    <add key="storage:account:name" value="cresdocument"/>
    <add key="storage:account:key" value="Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA=="/>
    <add key="storage:container:name" value="stagingcontainer"/>
    <add key="storage:container:connectionstring" value="DefaultEndpointsProtocol=https;AccountName=cresdocument;AccountKey=Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA==;EndpointSuffix=core.windows.net" />
    <add key="storage:account:url" value="https://cresdocument.blob.core.windows.net/" />
    
     <add key="pbigroupId" value="7464e5d2-fc68-46f1-bae3-d8f89374f515"/>-->
    <!--Integration-->
    <!--<add key="_calcServiceEndPoint" value="https://integrationcres4calculator.azurewebsites.net/api/note/CalculateNoteWeb"/>
    <add key="_calculatemutiplenoteAPI" value="https://integrationcres4calculator.azurewebsites.net/api/note/calculatemutiplenote"/>
    <add key="ApplicationName" value="CRES-In"/>
    <add key="LoggerInfoEnable" value="true"/>
    <add key="LoggerExceptionEnable" value="true"/>
    <add key="LoggerCalculatorEnable" value="true"/>
    <add key="EmailBaseUrl" value="https://integrationcres4.azurewebsites.net/"/>
    <add key="contactemail" value="support@M61Systems.com"/>
    <add key="ServerName" value="M61-In"/>
    <add key="powerbi:AccessKey" value="go0Oqtx4bFbyOsfWdHafymOW8PgfcpOdYsthb8M217r2xTKM6bvAmwcM8lbcrT1f5PSBwYsxUwZMCljks4vqRg=="/>
    <add key="powerbi:ApiUrl" value="https://api.powerbi.com"/>
    <add key="powerbi:WorkspaceCollection" value="IntegrationCRESPBIWorkspace"/>
    <add key="powerbi:WorkspaceId" value="301da980-9117-4778-ac18-a6b68fdb7186"/>
    <add key="storage:account:name" value="cresdocument"/>
    <add key="storage:account:key" value="Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA=="/>
    <add key="storage:container:name" value="integrationcontainer"/>
    <add key="storage:container:connectionstring" value="DefaultEndpointsProtocol=https;AccountName=cresdocument;AccountKey=Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA==;EndpointSuffix=core.windows.net"/>
    <add key="storage:account:url" value="https://cresdocument.blob.core.windows.net/"/>
    
    <add key="pbigroupId" value="5c062161-fc8e-4fa4-b2ce-da91bd0267b9"/>-->
    <!--Demo CRES(Azure Demo)-->
    <!--<add key="_calcServiceEndPoint" value="https://cresdemocalculator.azurewebsites.net/api/note/CalculateNoteWeb" />
    <add key="_calculatemutiplenoteAPI" value="https://cresdemocalculator.azurewebsites.net/api/note/calculatemutiplenote" />
    <add key="ApplicationName" value="CRES-DEMO" />
    <add key="LoggerInfoEnable" value="true" />
    <add key="LoggerExceptionEnable" value="true" />
    <add key="LoggerCalculatorEnable" value="true" />
    <add key="EmailBaseUrl" value="https://cresdemo.azurewebsites.net/"/>
    <add key="contactemail" value="support@M61Systems.com"/>
    <add key="ServerName" value="M61-Demo"/>

    <add key="powerbi:AccessKey" value="yMFagPw1hqKlRMSzxUQrI+ZGtqJUITDBT+fvCK5I4j8OUFMCrs9wXKbxlZ2ouOUfGpC2FmFHHbkEmNJRKBppBg==" />
    <add key="powerbi:ApiUrl" value="https://api.powerbi.com" />
    <add key="powerbi:WorkspaceCollection" value="qaCRES4PBIWorkspace" />
    <add key="powerbi:WorkspaceId" value="71385cf5-2b48-4216-b0a4-94c05176c7a1" />

    <add key="storage:account:name" value="cresdocument"/>
    <add key="storage:account:key" value="Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA=="/>
    <add key="storage:container:name" value="devcontainer"/>
    <add key="storage:container:connectionstring" value="DefaultEndpointsProtocol=https;AccountName=cresdocument;AccountKey=Kw0EJf+bTNuA5CLy3A4Loyw3P+Ba471VBRvlvMDV6ywe/spb8IxQq9Y37u/B4tS4lwMchKzhFuC3J6vwuY3HeA==;EndpointSuffix=core.windows.net" />
    <add key="storage:account:url" value="https://cresdocument.blob.core.windows.net/" />

    <add key="pbigroupId" value="ce036e78-f679-45d8-9301-3b11d2ce732b"/>-->
    <!--Live (for Excel)-->
    <!--<add key="_calcServiceEndPoint" value="http://crescalculator.azurewebsites.net/api/note/CalculateNoteWeb" />
     <add key="_calculatemutiplenoteAPI" value="http://crescalculator.azurewebsites.net/api/note/calculatemutiplenote" />
    <add key="ApplicationName" value="CRES-Prod" />-->
    <!--Live PP (for Web)-->
    <!--<add key="_calcServiceEndPoint" value="http://crescalculator.azurewebsites.net/api/note/CalculateNoteWeb" />
     <add key="_calculatemutiplenoteAPI" value="http://crescalculator.azurewebsites.net/api/note/calculatemutiplenote" />
    <add key="ApplicationName" value="CRES-PP" />
     <add key="LoggerInfoEnable" value="true" />
    <add key="LoggerExceptionEnable" value="true" />
    <add key="LoggerCalculatorEnable" value="true" />    
    <add key="EmailBaseUrl" value="http://crescalculator.azurewebsites.net/"/>
     <add key="contactemail" value="support@M61Systems.com"/>
     <add key="ServerName" value="M61-PP"/>
    -->
    <!--PROD_PP Live (for New Web )-->
    <!--<add key="_calcServiceEndPoint" value="http://ppCRESCalculator.azurewebsites.net/api/note/CalculateNoteWeb" />
     <add key="_calculatemutiplenoteAPI" value="http://ppCRESCalculator.azurewebsites.net/api/note/calculatemutiplenote" />
    <add key="ApplicationName" value="CRES-PP" />
     <add key="LoggerInfoEnable" value="true" />
    <add key="LoggerExceptionEnable" value="true" />
      <add key="EmailBaseUrl" value="http://ppcres4.azurewebsites.net/"/>
      <add key="contactemail" value="support@M61Systems.com"/>
      <add key="ServerName" value="M61-Prod"/>-->
    <!--CRES4_AC Live (for New Web )-->
    <!--<add key="_calcServiceEndPoint" value="http://ppCRESCalculator.azurewebsites.net/api/note/CalculateNoteWeb" />
    <add key="_calculatemutiplenoteAPI" value="http://ppCRESCalculator.azurewebsites.net/api/note/calculatemutiplenote" />
    <add key="ApplicationName" value="CRES-PP" />
    <add key="LoggerInfoEnable" value="true" />
    <add key="LoggerExceptionEnable" value="true" />
      <add key="EmailBaseUrl" value="http://ppcres4.azurewebsites.net/"/>
       <add key="contactemail" value="support@M61Systems.com"/>
      <add key="ServerName" value="M61"/>-->
    <!--Email setting for calculation failure notification-->
    <add key="EmailAppUrl" value="http://ppcres4.azurewebsites.net/" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="UserName" value="no-reply@m61systems.com" />
    <add key="Password" value="F1ght0n#" />
    <add key="Port" value="587" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" executionTimeout="3600" maxRequestLength="50000" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!--<add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, HEAD" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" hostingModel="InProcess" arguments="%LAUNCHER_ARGS%">
      <environmentVariables>
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add databaseInstanceName="LoggingInDB" writeLogStoredProcName="[App].[usp_WriteLog]" addCategoryStoredProcName="[App].[usp_AddCategory]" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Database Trace Listener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp} Message: {message} Category: {category} Priority: {priority} EventId: {eventid} Severity: {severity} Title:{title} Machine: {machine} Application Domain: {appDomain} Process Id: {processId} Process Name: {processName} Win32 Thread Id: {win32ThreadId} Thread Name: {threadName} Extended Properties: {dictionary({key} - {value} )}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Database Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>