<div style="transform: translateY(10%);display:inherit;">
  <div class="header_logo" align="center"> <a href="#">M61</a> </div>
  <div class="login custommarginlogin">
    <form #hf="ngForm">
      <h2>Forgot Password</h2>
      <div class="cssload-container" *ngIf="_isLogin">
        <div class="cssload-whirlpool"></div>
      </div>

      <div class="hr-label">
        <span class="hr-label__text h4"></span>
      </div>
      <div class="form-group">
        <input class="inputMaterial" type="text" [(ngModel)]="_changepasswrd.Email" name="Email" required #Email="ngModel" placeholder="Email or Username" pattern="^[ A-Za-z0-9_@./#&+-]*$">
        <div style="display:none" [hidden]="Email.valid || Email.untouched" class="alert alert-danger">
          Email/Username is required
        </div>
      </div>
      <!--<div class="form-group">
          <input class="inputMaterial" type="text" [(ngModel)]="_changepasswrd.UserLogin" name="UserLogin" #UserLogin="ngModel" required placeholder="UserLogin">
          <div style="display:none" [hidden]="ConfirmPassword.valid || ConfirmPassword.untouched" class="alert alert-danger">
              UserLogin is required
          </div>

      </div>-->
      <div class="form-group">
        <button type="submit" class="btn btn-default" id="login" (click)="forgotPassword()" [disabled]="!hf.form.valid">Forgot Password</button>

      </div>
      <div class="alert alert-danger fade in" *ngIf="!_Showmessagediv">
        <strong>Enter an email address that is associated with your account.</strong>
      </div>
      <div *ngIf="_Showmessagediv" class="alert alert-danger fade in">
        <strong>{{Messageerror}}</strong>
      </div>

    </form>
  </div>
</div>





