
<div class="col-sm-12">

  <div class="head fixheaderdiv">

    <h1 style="display: inline-block;margin-top: 10px;">Notification Subscription</h1>


    <!--<h3>Notification Subscription</h3>-->
    <div class="cssload-container" *ngIf="_isSubscriptionUpdating">
      <div class="cssload-whirlpool"></div>
    </div>

    <div *ngIf="_ShowSuccessmessagediv" class="alert alert-success fade in">
      <strong>{{_ShowSuccessmessage}}</strong>
    </div>

    <div *ngIf="_Showmessagediv" class="alert alert-danger fade in">
      <strong>{{Message}}</strong>
    </div>
  </div>
  <div class="fmst fixheadercontent">
    <div class="form-group row pD10">
      <div class="col-sm-12 customgridpadding">
        <button type="button" class="custombutton" (click)="SaveNotificationSubscription()">Save</button>

      </div>

      <div class="col-sm-12">

        <wj-flex-grid #flexsubscription [itemsSource]="_subscriptionlist" allow-add-new="false" [allowResizing]="'Both'" class="gridSize" [frozenColumns]="3">
          <wj-flex-grid-column [header]="' '" [binding]="'Status'"  [isReadOnly]="false">
            <!--<ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" style="align-content:center" let cell="cell" >
                <div style="text-align: center;">
                    <input (change)="SelectAll()" type="checkbox" id="chkSelectAll" />
                </div>
            </ng-template>-->
          </wj-flex-grid-column>

          <wj-flex-grid-column [header]="'Notification Type'" [binding]="'Name'" [width]="'*'"></wj-flex-grid-column>
        </wj-flex-grid>
      </div>
    </div>
  </div>

</div>





