<form #f="ngForm">
  <div class="col-sm-12">
    <div class="head fixheaderdiv">
      <h1 style="display: inline-block;margin-top: 10px;">Liability Fees Configuration</h1>


      <div *ngIf="_ShowSuccessmessagediv" class="alert alert-success fade in">
        <strong>{{_ShowmessagedivMsg}}</strong>
      </div>
      <div *ngIf="_Showmessagediv" class="alert alert-danger fade in">
        <strong>{{Message}}</strong>
      </div>
      <span>
        <button id="btnSaveConfig" style="margin-right:22px !important;" type="submit" tooltip="Save" class="custombutton custombutton_mar_10px" (click)="SaveFeeConfig()">Save</button>
      </span>
    </div>

    <div class="fmst fixheadercontent">
      <div class="cssload-container" *ngIf="_isFeeFunctionListFetching">
        <div class="cssload-whirlpool"></div>
      </div>
      <ul id="myTab" class="nav nav-tabs nav-tabs">
        <li class="active"><a data-target="#feefunction" data-toggle="tab" (click)="GetAllFeeFunction()">Fee Function Definition</a></li>
        <li><a data-target="#feeamount" (click)="GetAllFeeAmount()" data-toggle="tab">Base Amount Determination</a></li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active in" id="feefunction">

          <div class="box1a">
            <h3>Function Definition</h3>
            <div class="form-group row pD10">
              <div *ngIf="_lstfeefunctionCount == 0" class="alert alert-danger fade in col-sm-12 customgridpadding">
                <strong>No matching records found</strong>
              </div>
              <div class="col-sm-12 customgridpadding" style="height:calc(99.8vh - 230px)">
                <wj-flex-grid id="flexfeefunction" #flexfeefunction [itemsSource]="_feefunctionList" [allowAddNew]="true" [frozenColumns]="1" [frozenRows]="1" [allowSorting]="false"
                              [allowDelete]="false" class="gridSize" (pasted)="Copiedfeefunction(flexfeefunction,$event)" (deletingRow)="deletefeefunction($event)"
                              keyActionTab="Cycle" style="height:calc(99.8vh - 250px)" (cellEditEnded)="Copiedfeefunction(flexfeefunction,$event)">
                  <wj-flex-grid-column [header]="'Function Name'" [binding]="'FunctionNameText'" [width]="250" align="left"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'FunctionType'" [header]="'Function Type'" [binding]="'FunctionTypeText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'PaymentFrequency'" [header]="'Payment Frequency'" [binding]="'PaymentFrequencyText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'AccrualBasis'" [header]="'Accrual Basis'" [binding]="'AccrualBasisText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'AccrualStartDate'" [header]="'Accrual Start Date'" [binding]="'AccrualStartDateText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'AccrualPeriod'" [header]="'Accrual Period'" [binding]="'AccrualPeriodText'" [width]="175"></wj-flex-grid-column>

                  <wj-flex-grid-column [name]="'buttons'" [header]="'Delete'" [isReadOnly]="true" align="left" [width]="80">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                      <a style="text-decoration: underline;" (click)="showDeleteDialogFunction(cell.row.index)" *ngIf="!cell.item.IsUsedInFeeSchedule">Delete</a>
                    </ng-template>
                  </wj-flex-grid-column>
                </wj-flex-grid>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade in" id="feeamount">
          <div class="cssload-container" *ngIf="_isfeeamountListFetching">
            <div class="cssload-whirlpool"></div>
          </div>

          <div class="box1a">
            <h3>Base Amount Determination</h3>
            <div class="form-group row pD10">
              <div *ngIf="_feeamountListCount == 0" class="alert alert-danger fade in" style="margin-top:18px;">
                <strong>No matching records found</strong>
              </div>
              <div class="col-sm-12 customgridpadding" style="height:calc(99.8vh - 230px)">
                <wj-flex-grid id="feeamount" #flexfeeamount [itemsSource]="_feeamountList" 
                              [allowAddNew]="true" [frozenColumns]="1" [frozenRows]="1" [allowSorting]="false"
                              [allowDelete]="false" class="gridSize" keyActionTab="Cycle"
                              style="height:calc(99.8vh - 250px)">
                  <wj-flex-grid-column [header]="'Fee Type Name'" [binding]="'FeeTypeNameText'" [width]="250" align="left"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'FeePaymentFrequency'" [header]="'Fee Payment Frequency'" [binding]="'FeePaymentFrequencyText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'FeeCoveragePeriod'" [header]="'Fee Coverage Period'" [binding]="'FeeCoveragePeriodText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'FeeFunction'" [header]="'Fee Function'" [binding]="'FeeFunctionText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'TotalCommitment'" [header]="'Original Commitment'" [binding]="'TotalCommitmentText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'UnscheduledPaydowns'" [header]="'Unscheduled Paydowns'" [binding]="'UnscheduledPaydownsText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'Balloon Payment'" [header]="'Balloon Payment'" [binding]="'BalloonPaymentText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'LoanFunding'" [header]="'Loan Funding'" [binding]="'LoanFundingsText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'ScheduledPrincipalAmortizationPayment'" [header]="'Scheduled Principal Amortization Payment'" [binding]="'ScheduledPrincipalAmortizationPaymentText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'CurrentLoanBalance'" [header]="'Current Loan Balance'" [binding]="'CurrentLoanBalanceText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'InterestPayment'" [header]="'Interest Payment'" [binding]="'InterestPaymentText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'InitialFunding'" [header]="'Initial Funding'" [binding]="'InitialFundingText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'AdjustedCommitment'" [header]="'Adjusted Commitment'" [binding]="'M61AdjustedCommitmentText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'FeeNameTrans'" [header]="'Fee Type'" [binding]="'FeeNameTransText'" [width]="175"></wj-flex-grid-column>

                  <wj-flex-grid-column [name]="'PIKFunding'" [header]="'PIK Funding'" [binding]="'PIKFundingText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'PIKPrincipalPayment'" [header]="'PIKPrincipal Payment'" [binding]="'PIKPrincipalPaymentText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'Curtailment'" [header]="'Curtailment'" [binding]="'CurtailmentText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'UpsizeAmount'" [header]="'Upsize Amount'" [binding]="'UpsizeAmountText'" [width]="175"></wj-flex-grid-column>
                  <wj-flex-grid-column [name]="'UnfundedCommitment'" [header]="'Unfunded Commitment'" [binding]="'UnfundedCommitmentText'" [width]="175"></wj-flex-grid-column>

                  <wj-flex-grid-column [name]="'ExcludeFromCashflowDownload'" [header]="'Exclude From Cashflow Download'" [binding]="'ExcludeFromCashflowDownload'" [width]="175"></wj-flex-grid-column>

                  <wj-flex-grid-column [name]="'buttons'" [header]="'Delete'" [isReadOnly]="true" align="right" [width]="80">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                      <a style="text-decoration: underline;" (click)="showDeleteDialog(cell.row.index)" *ngIf="!cell.item.IsUsedInCalc">Delete</a>
                    </ng-template>
                  </wj-flex-grid-column>
                </wj-flex-grid>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Pop up for delete-->
    <div id="myModalDelete" class="modal">
      <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
        <!-- Modal content -->
        <div class="modal-content" style="padding:0px;border:0px;">
          <div class="modal-header" style="background:#2196f3 !important">
            <span class="customheading" style="color:white !important">Delete : {{FeeTypeNameText}}</span>
            <span class="close" (click)="CloseDeletePopUp()">×</span>
          </div>

          <div class="modal-body">
            <span class="customheading">Are you sure you want to delete it?</span>
          </div>
          <div class="modal-footer" style="background-color:white !important;">
            <button type="button" (click)="CloseDeletePopUp()" class="custombutton" style="width:100px !important">Cancel</button>
            <button type="button" (click)="DeleteFeeScheduleConfig()" class="custombutton" style="width:100px !important">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <!--Pop up for delete fee function-->
    <div id="myModalDeleteFeeFunction" class="modal">
      <div class="modal-dialog" draggable="true" id="myModal-Delete-Fee-Function" style="min-height:300px;width:500px">
        <!-- Modal content -->
        <div class="modal-content" style="padding:0px;border:0px;">
          <div class="modal-header" style="background:#2196f3 !important">
            <span class="customheading" style="color:white !important">Delete : {{FeeTypeNameText}}</span>
            <span class="close" (click)="CloseDeletePopUpFeeFunction()">×</span>
          </div>

          <div class="modal-body">
            <span class="customheading">Are you sure you want to delete it?</span>
          </div>
          <div class="modal-footer" style="background-color:white !important;">
            <button type="button" (click)="CloseDeletePopUpFeeFunction()" class="custombutton" style="width:100px !important">Cancel</button>
            <button type="button" (click)="DeleteFeeFunctionConfig()" class="custombutton" style="width:100px !important">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
