
<div class="col-sm-12" style="height:100%;">
  <div class="head fixheaderdiv">
    <h1>Help</h1>
  </div>

  <div class="fmst fixheadercontent" style="height:86.5vh;margin-top: 49px;">
    <div class="box1a">
      <div class="form-group row pD10">
        <div class="col-sm-12" style="width:100% !important;">
          <div class="form-group row">

            <div style="float: left;width:45%; ">
              <p class="contactusheading"> Create Support Ticket</p>

              <p style="margin-left: 15px !important;">JIRA is our current issue tracking system. A typical JIRA ticket would be used to report a bug, database change, ad-hoc report or new feature or idea. </p>
              <br>
              <br>
              <button class="helpmebutton" (click)="openLink()">
                Create Support Ticket
              </button>
            </div>
            <div style="float: left;width:2%;border-left: 1px solid #eee;min-height: 70vh;padding-left: 5px;  "></div>
            <div style="float:left;width:45%; ">
              <p class="contactusheading">Contact Us</p>

              <p>
                Questions, enquiries, meeting requests, and other general team communications can be sent to
              </p>
              <a href="mailto:Support@M61Systems.com" style="text-align: center;">

                <i style="font-size:54px;color:#2196f3;text-align:center;display:block;  " class="fa fa-envelope"></i>

                <h4 class="secondary">Email</h4>
                <p>
                  <span class="puseduolink"> Support@M61Systems.com</span>
                </p>
              </a>

              <br>
              <p>Immediate and/or complex support issues can be discussed with our team at</p>
              <a style="text-align: center;">
                <i style="font-size:54px;color:#2196f3;text-align:center;display:block;  " class="fa fa-mobile"></i>

                <h4 class="secondary">Phone</h4>
                <p>
                  <span class="puseduolink">800.265.8879</span>
                </p>
              </a>
              <b></b> .

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
