<form #f="ngForm">
  <div class="col-sm-12">
    <div class="head fixheaderdiv">
      <h1 style="display: inline-block;margin-top: 10px;">
        Index Scenarios
      </h1>
      <span *ngIf="_isshowIndexesAddbutton">
        <button class="custombutton" id="btnAddIndexScenario" style="width:200px !important; margin-right:22px !important;" (click)="AddNewIndexes()">
          Add Index Scenario
        </button>
      </span>

      <div *ngIf="_ShowSuccessmessagediv" class="alert alert-success fade in">
        <strong>{{_ShowSuccessmessage}}</strong>
      </div>
      <div *ngIf="_Showmessagediv" class="alert alert-danger fade in">
        <strong>{{Message}}</strong>
      </div>


      <div class="cssload-container" *ngIf="_isIndexesListFetching">
        <div class="cssload-whirlpool"></div>
      </div>

    </div>
    <div *ngIf="_dvEmptyIndexesSearchMsg" class="alert alert-danger fade in" style="margin-top:18px;">
      <strong>No matching records found</strong>
    </div>

    <div class="fmst fixheadercontent">
      <div class="">
        <div class="form-group row pD10">
          <div class="col-sm-12">
            <wj-flex-grid id="flexindexes" #flexindexes [itemsSource]="lstIndexesData" [allowResizing]="'Both'" auto-generate-columns="true" allow-add-new="true" allow-sorting="true" showFilterIcons="true" style="height:calc(99.8vh - 140px);">
              <wj-flex-grid-filter #filter></wj-flex-grid-filter>
              <wj-flex-grid-column [header]="'Index Scenario'" [isReadOnly]="true" [width]="150">
                <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                  <div>
                    <a href='/#/indexesdetail/{{cell.item.IndexesMasterGuid}}' routerLinkActive="active">{{cell.item.IndexesName}}</a>
                  </div>
                </ng-template>
              </wj-flex-grid-column>
              <wj-flex-grid-column [header]="'Description'" [binding]="'Description'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
            </wj-flex-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
