
<div class="col-sm-12">

  <div class="head fixheaderdiv">
    <h1 style="display: inline-block;margin-top: 10px;">Reports</h1>
    <span>
      <button type="button" class="custombutton" style="width: 200px !important" (click)="DownloadNoteDataTape()">Download Data Tape</button>
      <button type="button" class="custombutton" style="width: 200px !important" (click)="RefreshReport()" data-toggle="tooltip" (mouseover)="warehouseStatus(btnname)" title={{Status4}}{{BatchEndTime4}}>Refresh Data Warehouse</button>

      <button type="button" class="custombutton" style="width: 200px !important" (click)="RefreshBSUnderwiting()" data-toggle="tooltip" (mouseover)="showbackshopStatus(btnname)" title={{Status1}}{{BatchEndTime1}}>Refresh Backshop Data</button>
      <button type="button" class="custombutton" style="width: 200px !important" (click)="RefreshEntityDataToDW()" data-toggle="tooltip" (mouseover)="showentityStatus(btnname)" title={{Status3}}{{BatchEndTime3}}>Refresh Entity Data</button>

    </span>


    <div *ngIf="_dvEmptyNoteSearchMsg" class="alert alert-danger fade in" style="margin-top:18px;">
      <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
      <strong>No matching records found</strong>
    </div>
    <div *ngIf="_Showmessagediv" class="alert alert-success fade in">
      <strong>{{_ShowmessagedivMsg}}</strong>
    </div>
    <div *ngIf="_ShowmessagedivError" class="alert alert-danger fade in" style="margin-top:18px;">
      <strong>{{_ShowmessagedivErrorMsg}}</strong>
    </div>
  </div>

  <div *ngIf="!_checkstatusofuserrole" style="margin-top:60px; margin-bottom:-55px;" id="powerbistatus">
    <div *ngIf="! _fetchingstatus" class="alert alert-info">
      {{initialfetchingmsg}}
      <span class="loader"><span class="loader-box"></span><span class="loader-box"></span><span class="loader-box"></span></span>
    </div>
    <div *ngIf="_fetchingstatus">
      <div *ngIf="!_ispowerbistatus">
        <div *ngIf="!_userrolecheck">
          <div *ngIf="_aftersubmitrequest" class="alert alert-info">
            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>&nbsp;
            {{submittedreqonmsg}}
            <span class="loader"><span class="loader-box"></span><span class="loader-box"></span><span class="loader-box"></span></span>
          </div>
          <div *ngIf="!_aftersubmitrequest" class="alert alert-danger" role="alert">
            <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>&nbsp; {{turnonmsg}}  <!--red-->
            <a [routerLink]="" (click)="updateCRESPowerBIEmbeddedStatus()" style="text-decoration:underline">{{powerbistatus_offmsg}}</a>
          </div>
        </div>
      </div>

      <div *ngIf="_userrolecheck">
        <div *ngIf="_ispowerbistatus">
          <div *ngIf="_otheruserscheck">
            <div *ngIf="_aftersubmitrequest" class="alert alert-info">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>&nbsp;
              {{submittedreqoffmsg}}
              <span class="loader"><span class="loader-box"></span><span class="loader-box"></span><span class="loader-box"></span></span>
            </div>
            <div *ngIf="!_aftersubmitrequest" class="alert alert-success" role="alert">
              <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>&nbsp; {{turnoffmsg}} <!--green-->
              <a [routerLink]="" (click)="updateCRESPowerBIEmbeddedStatus()" style="text-decoration:underline">{{powerbistatus_onmsg}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="_dvEmptyNoteSearchMsg == false" class="fmst fixheadercontent">
    <div class="row MG0">
      <div class="clearfix"></div>
      <div class="col-sm-12 customgridpadding">

        <div class="cssload-container" *ngIf="_isNoteListFetching">
          <div class="cssload-whirlpool"></div>
        </div>

        <wj-flex-grid id="flex" #flex [itemsSource]="lstReport" [allowAddNew]="true" class="wijmogridcss">
          <wj-flex-grid-column [header]="'Report Name'" [width]="'*'">

            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">

              <div *ngIf="cell.item.ReportType=='PowerBI'">
                <img src="../../assets/images/PowerBI_icon_24X24.png" height="20" width="20" />
                <a routerLink='/reportdetail/{{cell.item.Id}}' routerLinkActive="active">{{cell.item.Name}}</a>
              </div>
              <div *ngIf="cell.item.ReportType=='Acore'">
                <img src="../../assets/images/reportsIcon.png" height="20" width="20" />
                <a href="javascript:void(0)" (click)="ShowAttributesDialog(cell.item.ReportFileGUID, cell.item.Name)" routerLinkActive="active">{{cell.item.Name}}</a>
              </div>
            </ng-template>

          </wj-flex-grid-column>

        </wj-flex-grid>
      </div>
    </div>
  </div>
  <div id="dialogoverlay"></div>
  <div id="dialogbox">
    <div>
      <div id="dialogboxhead"></div>
      <div id="dialogboxbody"></div>
      <div id="dialogboxfoot"><span class="btn custombutton" (click)="ok()">Ok</span></div>
    </div>
  </div>
  <div id="ModalReportFileAttribute" class="modal">
    <div class="modal-dialog" draggable="true" id="myModalgen" style="min-height:300px;width:395px">
      <!-- Modal content -->
      <div class="modal-content" style="padding:0px;border:0px;">
        <div class="modal-header" style="background:#2196f3 !important">
          <span class="customheading" style="color:white !important" id="spnHeader">CRES - Validation Error</span>
          <span class="close" (click)="ClosePopUpReportFileAttribute()">×</span>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label class="lab1">
              Date
              <wj-input-date name="reportInputDate" [(ngModel)]="reportInputDate" #reportInputDates="ngModel" id="reportInputDate" [format]="'M/d/yyyy'" [isRequired]="false" [placeholder]="'M/d/yyyy'"></wj-input-date>
            </label>
          </div>
        </div>
        <!--<div *ngIf="_dvInValidJson" class="alert alert-danger fade in">-->
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
        <!--<strong>{{_dvInValidJsonMsg}}</strong>
        </div>-->
        <div class="modal-footer" style="background-color:white !important;">
          <!--<button type="button" (click)="ClosePopUpDialog()" class="custombutton" style="width:100px !important">Cancel</button>-->
          <!--<textarea class="ibox1" rows="50" cols="150" style="height:300px;width: 95%;color:black" id="txtDefaultAttribute"></textarea>-->
          <button type="button" class="custombutton" style="width:100px !important" (click)="GenearteAndDownloadReport()">Generate</button>
        </div>
      </div>
    </div>
  </div>
</div>

