<form #f="ngForm">
  <div class="col-sm-12">
    <div class="head fixheaderdiv">

      <h1 style="display: inline-block; margin-top: 10px;">
        Scenarios Details : {{_scenariodc.ScenarioName}}
      </h1>

      <span>
        <button class="custombutton" style="margin-right:22px !important;" (click)="DiscardChanges()">
          Cancel
        </button>
        <button class="custombutton" style="width:200px!important;" (click)="ValidateScenarioAndSave('CalcAndSave')">
          Save & Calc
        </button>
        <button class="custombutton" (click)="ValidateScenarioAndSave('Save')">
          Save
        </button>

      </span>



      <div *ngIf="_ShowmessagedivWar" class="alert alert-warning fade in">
        <strong>{{_ShowmessagedivMsgWar}}</strong>
      </div>

    </div>


    <div class="fmst fixheadercontent">
      <div class="cssload-container" *ngIf="_isScenarioDetailFetching">
        <div class="cssload-whirlpool"></div>
      </div>
            <div class="cssload-container" *ngIf="_isShowLoader">
                <div class="cssload-whirlpool"></div>
            </div>

      <div class="box1a">
        <div class="form-group row pD10 scenariosdetailtopdiv">

          <div class="col-sm-3">
            <label class="lab1">Scenario Name</label>
            <input class="ibox1" required type="text" [(ngModel)]="_scenariodc.ScenarioName" name="ScenarioName" ngControl="ScenarioName" #ScenarioName="ngModel" id="ScenarioName">
          </div>
          <div class="col-sm-3">
            <label class="lab1">Maturity Scenario Override</label>
            <select [(ngModel)]="_scenariodc.MaturityScenarioOverrideID" name="MaturityScenarioOverrideID" #MaturityScenarioOverrideID="ngModel" class="ibox1">
              <option *ngFor="let status of lstMaturityScenarioOverride" value={{status.LookupID}}>
                {{status.Name}}
              </option>
            </select>
          </div>

          <div class="col-sm-3">
            <label class="lab1">Maturity Adjustment Months</label>
            <input class="ibox1" type="number" [(ngModel)]="_scenariodc.MaturityAdjustment" name="MaturityAdjustment" ngControl="MaturityAdjustment" #MaturityAdjustment="ngModel" id="MaturityAdjustment">
          </div>


          <!--<div class="col-sm-3">
            <label class="lab1">Function Name</label>
            <select [(ngModel)]="foldername" id="foldername" name="foldername" class="ibox1" (change)="ChangeFolder($event.target.value)"
                <option *ngFor="let item of lstFolders" value={{item.FunctionName}}>
                    {{item.FunctionName}}
                </option>
            </select>
        </div>-->

          <div class="col-sm-3">
            <label class="lab1">Index Scenario Override</label>
            <select [(ngModel)]="_scenariodc.IndexScenarioOverride" name="IndexScenarioOverride" #IndexScenarioOverride="ngModel" class="ibox1">
              <option *ngFor="let Lindex of lstIndexesMaster" value={{Lindex.IndexesMasterID}}>
                {{Lindex.IndexesName}}
              </option>
            </select>
          </div>

          <div class="col-sm-3">
            <label class="lab1">Calculation Mode</label>
            <select [(ngModel)]="_scenariodc.CalculationMode" name="CalculationMode" #CalculationMode="ngModel" class="ibox1">
              <option *ngFor="let Lcal of lstCalculationMode" value={{Lcal.LookupID}}>
                {{Lcal.Name}}
              </option>
            </select>
          </div>

          <div class="col-sm-3">
            <label class="lab1">Excluded Forecasted Pre Payment</label>
            <select [(ngModel)]="_scenariodc.ExcludedForcastedPrePayment" name="ExcludedForcastedPrePayment" #ExcludedForcastedPrePayment="ngModel" class="ibox1">
              <option *ngFor="let Lcal of lstExcludedForcastedPrePayment" value={{Lcal.LookupID}}>
                {{Lcal.Name}}
              </option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="lab1">Automate Calculation Frequency</label>
            <select [(ngModel)]="_scenariodc.AutoCalcFreq" name="AutCalcFreq" #AutCalcFreq="ngModel" class="ibox1">
              <option *ngFor="let CalcFreq of lstAutoCalcFreq" value={{CalcFreq.LookupID}}>
                {{CalcFreq.Name}}
              </option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="lab1">Use Servcing Data</label>
            <select [(ngModel)]="_scenariodc.UseActuals" name="UseActuals" #UseActuals="ngModel" class="ibox1">
              <option *ngFor="let _useactuals of lstUseActuals" value={{_useactuals.LookupID}}>
                {{_useactuals.Name}}
              </option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="lab1">Disable Business Day Adjustment</label>
            <select [(ngModel)]="_scenariodc.DisableBusinessDayAdjustment" name="UseBusinessDayAdjustment" #UseBusinessDayAdjustment="ngModel" class="ibox1">
              <option *ngFor="let _usebusinessdayadjustment of lstBusinessDayAdjustment" value={{_usebusinessdayadjustment.LookupID}}>
                {{_usebusinessdayadjustment.Name}}
              </option>
            </select>
          </div>

          <div class="col-sm-12">
            <label class="lab1">Description</label>
            <textarea style="font-family: inherit;font-size: inherit;" (keyup)="adjustdescrtiptionheight()" class="ibox1 input-lg" rows="5" cols="60" [(ngModel)]="_scenariodc.Description" name="Description" #Description="ngModel" id="Description"></textarea>
          </div>

          <div class="col-sm-12">
            <label class="lab1">
            </label>
          </div>
          <div style="width:40%;float:left;" class="col-sm-12" *ngIf="_isShowScenarioRuleType">
            <wj-flex-grid id="RuleTypeList" #RuleTypeList [itemsSource]="_lstruletype"
                          (beginningEdit)="cellRuleTypeEditHandler(RuleTypeList,$event)"
                          
                           [allowResizing]="'Both'" class="gridSize grid">
              <wj-flex-grid-column [header]="'Ruleset Type'" [binding]="'RuleTypeName'" [isReadOnly]="_isReadOnlyRuleTypeName" [width]="205"></wj-flex-grid-column>
              <wj-flex-grid-column [header]="'Ruleset File'" [binding]="'FileName'" [showDropDown]="true"
                                   [isRequired]="true" [width]="500"></wj-flex-grid-column>

            </wj-flex-grid>
          </div>


        </div>
      </div>

      <!--<div class="box1a">
        <h3>Index Rate Scenario</h3>
        <div class="form-group row pD10">
            <div class="col-sm-12">
                <span>
                    <button type="button" id="btnDownloadIndexsExportData" *ngIf="_isIndexLoad" class="custombutton_150px" (click)="downloadIndexsExportData()">Download Index Rates</button>
               </span>


                <wj-flex-grid id="flexScenarioDetail" #flexScenarioDetail [itemsSource]="cvScenarioDetaildata" [allowAddNew]="true"  [allowResizing]="'Both'" class="gridSize"
                                (selectionChanged)="ScenarioDetailselectionChanged()" selection-mode="Row" (beginningEdit)="beginningEdit('ScenarioDetail')" (rowEditEnded)="rowEditEnded('ScenarioDetail')" (pasted)="CopiedDataValidate('ScenarioDetail')" style="height:280px">

                </wj-flex-grid>
            </div>
        </div>
    </div>-->

    </div>
    <div id="dialogoverlay"></div>
    <div id="dialogbox">
      <div>
        <div id="dialogboxhead"></div>
        <div id="dialogboxbody"></div>
        <div id="dialogboxfoot"><span class="btn custombutton" (click)="ok()">Ok</span></div>
      </div>
    </div>
  </div>
</form>
