<form class="form1" #cpForm="ngForm" (ngSubmit)="Save(cpForm.value)">

    <div class="col-sm-12">
        <div class="head fixheaderdiv">
            <h1 style="display: inline-block;margin-top: 10px;">My account</h1>
            <div *ngIf="_ShowSuccessmessagediv" class="alert alert-success fade in">
                <strong>{{_ShowSuccessmessage}}</strong>
            </div>
            <div *ngIf="_Showerrormessagediv" class="alert alert-danger fade in">
                <strong>{{_errormessage}}</strong>
            </div>
            <div *ngIf="_ShowmessagedivWar" class="alert alert-warning fade in">
                <strong>{{_ShowmessagedivMsgWar}}</strong>
            </div>
        </div>
        <div class="fmst fixheadercontent">
            <div class="cssload-container" *ngIf="_isListFetching">
                <div class="cssload-whirlpool"></div>
            </div>

            <ul id="myTab" class="nav nav-tabs nav-tabs">
                <li class="active"><a data-target="#myaccount" data-toggle="tab">My account</a></li>
                <li><a data-target="#Preferences" data-toggle="tab">Preferences</a></li>
                <li><a data-target="#ProfileDelegation" data-toggle="tab" (click)="GetAllActiveDelegatedUser()">Profile Delegation</a></li>

            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade active in" id="myaccount">

                    <div class="row MG0 " style="height:calc(99.8vh - 160px);">

                        <div class="box1a">
                            <h3>Personal</h3>
                            <div class="form-group row pD10">
                                <button type="button" class="custombutton" tabindex="1" (click)="UpdateUserByUserID()">Save</button>
                                <div class="col-sm-12 gridPadding"></div>
                                <div class="col-sm-3">
                                    <label class="lab1">First name</label>
                                    <input class="ibox1" type="text" [(ngModel)]="_user.FirstName" name="FirstName" #FirstName="ngModel">
                                </div>
                                <div class="col-sm-3">
                                    <label class="lab1">Last name</label>
                                    <input class="ibox1" type="text" [(ngModel)]="_user.LastName" name="LastName" #LastName="ngModel">
                                </div>
                                <div class="col-sm-3">
                                    <label class="lab1">Email</label>
                                    <input class="ibox1" type="email" [(ngModel)]="_user.Email" name="Email" #Email="ngModel" [attr.disabled]="true">
                                </div>
                                <div class="col-sm-3">
                                    <label class="lab1">Primary Contact</label>
                                    <input class="ibox1" type="text" [(ngModel)]="_user.ContactNo1" name="ContactNo1" #ContactNo1="ngModel">
                                </div>
                            </div>
                            <div class="form-group row pD10">
                                <div class="col-sm-3">
                                    <label class="lab1">Time Zone</label>
                                    <!--<select [(ngModel)]="_user.TimeZone" class="ibox1" id="TimeZone" name="TimeZone" #TimeZone="ngModel" (selectedIndexChanged)="onChange(acDeal, $event)" (change)="onChange($event.target.value)" >
                    <option  *ngFor='let lst of lstTimeZone' value={{lst.Name}}>
                        {{lst.Name +' ('+lst.current_utc_offset+')'}}
                    </option>
                </select>-->

                                    <wj-auto-complete #lstAppTimeZone
                                                      [itemsSourceFunction]="getAutosuggesttimezone"
                                                      [displayMemberPath]="'DisplayName'"
                                                      [selectedValuePath]="'Valuekey'"
                                                      [placeholder]="'TimeZone'"
                                                      [text]="task_username"
                                                      (selectedIndexChanged)="onChange(lstAppTimeZone, $event)" (change)="onChange(lstAppTimeZone, $event)" class="ibox1" style="padding: 3px !important;">
                                    </wj-auto-complete>

                                </div>

                                <div class="col-sm-3 col-sm-offset-12 hidden-sm">
                                    <label></label>
                                    <input type="text" readonly class="ibox1" style="display:none" name="currentoffset" />
                                </div>
                            </div>
                        </div>
                        <div class="box1a" *ngIf="_allowBasicLogin">
                            <h3>Change password</h3>
                            <div class="form-group row pD10">
                                <p style="padding-left:20px !important;padding-top: 30px !important; font-weight:bold">Password must contain 8-20 characters, including at least 1 uppercase alphabet, 1 lowercase alphabet,  1 number and 1 special character.</p>
                                <div class="col-sm-3">
                                    <label class="lab1">Current password</label>
                                    <input class="ibox1" type="password" [(ngModel)]="_changepasswrd.OldPassword" name="OldPassword" #Password="ngModel">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label class="lab1">New password</label>
                                    <input class="ibox1" type="password" [(ngModel)]="_changepasswrd.NewPassword" name="NewPassword" #NewPassword="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,20}">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                                <div class="col-sm-3">
                                    <label class="lab1">Confirm password</label>
                                    <input class="ibox1" type="password" [(ngModel)]="_changepasswrd.ConfirmPassword" name="ConfirmPassword" #ConfirmPassword="ngModel">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="custombutton" id="login" (click)="login()" style="margin-top: 23px !important; float: left  !important; width:120px !important">Change password</button>
                                </div>
                            </div>
                        </div>




                        <!--<div class="box1a" *ngIf="_allowBasicLogin">
                            <h3>Whitelist My IP</h3>
                            <div class="form-group row pD10" >

                                <div class="col-sm-3">
                                    <label class="lab1">My IP</label>-->

                                    <!--<input class="ibox1" type="text" [(ngModel)]="MyIpaddress" name="MyIpaddress" #MyIpaddress="ngModel">-->
                                    <!--<input class="ibox1" type="text" [(ngModel)]="_user.IpAddress" name="IpAddress" #IpAddress="ngModel">

                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                </div>

                                <div class="col-sm-3">
                                    <button type="button" class="custombutton" id="SaveIPSetting" (click)="SaveIPAddress()" style="margin-top: 23px !important; float: left  !important; width:100px !important">Save</button>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>


                <div class="tab-pane fade in" id="Preferences">
                    <div class="box1a">
                        <h3>Preferences</h3>
                        <div class="form-group row pD10" style="height:calc(99.8vh - 220px);">                          

                            <div class="col-sm-3">
                                <label class="lab1">Default Note Tab</label>                          

                                <select id="DefaultNoteTab" name="DefaultNoteTab" class="ibox1" [(ngModel)]="_userdefaultsetting.DefaultNoteTabName" #DefaultNoteTabName="ngModel">
                                    <option *ngFor="let item of moduleTabMasterlist" value={{item.DisplayName}}>
                                        {{item.DisplayName}}
                                    </option>
                                </select>

                                <span class="highlight"></span>
                                <span class="bar"></span>
                            </div>

                            <div class="col-sm-3">
                                <button type="button" class="custombutton" id="SaveSetting" (click)="SaveSetting()" style="margin-top: 23px !important; float: left  !important; width:120px !important">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade in" id="ProfileDelegation">
                    <div class="box1a">
                        <h3>Profile Delegation</h3>
                        <div *ngIf="delegationusercount == 0 && !lstdelegateuser" class="alert alert-danger fade in" style="margin:18px;">
                            <strong>{{delegationMessage}}</strong>
                        </div>
                        <div class="form-group row pD10" style="height:calc(99.8vh - 310px);">
                            <button type="button" id="btnCreateRole" style="width:150px !important;" class="custombutton" (click)="showCreateDialog()">Give access to User</button>
                            <div class="col-sm-9" style="width:94% !important;">
                                <div class="form-group row" *ngIf="lstdelegateuser">
                                    <div class="col-sm-9 customgridpadding" style="height:calc(99.8vh - 183px)">
                                        <wj-flex-grid id="flexDelegatedUser" #flexDelegatedUser [itemsSource]="ListActiveDelegatedUser" [allowResizing]="'Both'" allow-sorting="true"
                                                      showFilterIcons="true">
                                            <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                                            <wj-flex-grid-column [header]="'Delegated User'" [binding]="'DelegatedUserIDText'" [isReadOnly]="true" [width]="230"></wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Start date'" [binding]="'Startdate'" [isReadOnly]="true" align="left" [width]="230"></wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'End date'" [binding]="'Enddate'" [isReadOnly]="true" align="left" [width]="230"></wj-flex-grid-column>
                                            <wj-flex-grid-column [header]="'Revoke'" [isReadOnly]="true" [width]="170">
                                                <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                                    <div>
                                                        <a style="text-decoration: underline;cursor:pointer;" (click)=showRevokeDialog(cell.row.index)>Revoke</a>
                                                    </div>
                                                </ng-template>
                                            </wj-flex-grid-column>
                                        </wj-flex-grid>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalRevoke" class="modal">
        <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
            <!-- Modal content -->
            <div class="modal-content" style="padding:0px;border:0px;">
                <div class="modal-header" style="background:#2196f3 !important">
                    <span class="customheading" style="color:white !important">Delete : {{modulename}}</span>
                    <span class="close" (click)="CloseDeletePopUp()">×</span>
                </div>

                <div class="modal-body">
                    <span class="customheading">Are you sure you want to revoke it?</span>
                </div>
                <div class="modal-footer" style="background-color:white !important;">
                    <button type="button" (click)="CloseDeletePopUp()" class="custombutton" style="width:100px !important">Cancel</button>
                    <button type="button" (click)="revokeRow()" class="custombutton" style="width:100px !important">Ok</button>
                </div>
            </div>
        </div>
    </div>


    <div id="myModalCreate" class="modal">
        <div class="modal-dialog" draggable="true" id="myModal-CreateRole" style="min-height:300px; width:500px;">
            <!-- Modal content -->
            <div class="modal-content" style="padding:0px;border:0px;">
                <div class="modal-header" style="background:#2196f3 !important">
                    <span class="customheading" style="color:white !important">Add </span>
                    <span class="close" (click)="CloseCreatePopUp()">×</span>
                </div>

                <div class="modal-body">


                    <label class="lab1">User Name</label>
                    <select [(ngModel)]="userdelegateconfiguration.DelegatedUserID" class="ibox1" id="DelegatedUserID" name="DelegatedUserID" #DelegatedUserID="ngModel" (selectedIndexChanged)="checkDroppedDownChangedUserName(acDeal, $event)" (change)="checkDroppedDownChangedUserName(acDeal,$event.target.value)" required>

                        <option *ngFor='let lst of lstUsers' value={{lst.UserID}}>
                            {{lst.FirstName +' '+lst.LastName+' '}}
                        </option>

                    </select>

                    <!--<wj-auto-complete #acDeal
                                      [itemsSourceFunction]="getAutosuggestusername"
                                      [displayMemberPath]="'DisplayName'"
                                      [selectedValuePath]="'ValueID'"
                                      [placeholder]="'User Name'"
                                      [text]="c_username"
                                      (selectedIndexChanged)="checkDroppedDownChangedUserName(acDeal, $event)" (change)="checkDroppedDownChangedUserName(acDeal, $event)" class="ibox1" style="padding: 3px !important;">
                    </wj-auto-complete>-->

                    <label class="lab1">Start Date</label>
                    <input class="ibox1" type="text" [(ngModel)]="userdelegateconfiguration.Startdate" [placeholder]="'MM/dd/yyyy'" name="Startdate" #Startdate="ngModel" id="Startdate" required>

                    <label class="lab1">End Date</label>
                    <input class="ibox1" type="text" [(ngModel)]="userdelegateconfiguration.Enddate" [placeholder]="'MM/dd/yyyy'" name="Enddate" #Enddate="ngModel" id="Enddate" required>
                </div>
                <div class="modal-footer" style="background-color:white !important;padding:5px;margin-top:10px;">
                    <button type="button" (click)="CloseCreatePopUp()" class="custombutton" style="width:100px !important">Cancel</button>
                    <button type="button" (click)="InsertDelegateConfiguration()" class="custombutton" style="width:100px !important">Save</button>
                </div>


            </div>
        </div>
    </div>
    <div id="dialogoverlay"></div>

    <div id="dialogbox">
        <div>
            <div id="dialogboxhead"></div>
            <div id="dialogboxbody"></div>
            <div id="dialogboxfoot"><span class="btn custombutton" (click)="ok()">Ok</span></div>
        </div>
    </div>

</form>