<div class="col-sm-12">

    <div class="head">
        <h1 style="display: inline-block;margin-top: 10px;">Deals</h1>

        <span *ngIf="_isshowDealbutton">
            <span *ngIf="!_dealListFetching">
                <button class="custombutton"  (click)="AddNewDeal()">
                    Add deal
                </button>
            </span>
        </span>

    </div>
    <div *ngIf="_dvEmptyDealSearchMsg" class="alert alert-danger fade in" style="margin-top:18px;">
        <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
        <strong>No matching records found</strong>
    </div>
    <div *ngIf="_Showmessagediv" class="alert alert-success fade in">
        <strong>{{_ShowmessagedivMsg}}</strong>
    </div>

    <div *ngIf="_ShowmessagedivMsgWar" class="alert alert-warning fade in">
        <strong>{{_WaringMessage}}</strong>
    </div>

    <div *ngIf="_dvEmptyDealSearchMsg == 0" class="fmst customlistpageheight">
        <div class="row MG0">
            <div class="col-sm-12 customgridpadding">

                <div class="cssload-container" *ngIf="_dealListFetching">
                    <div class="cssload-whirlpool"></div>
                </div>
                <!--<center>
                    <svg *ngIf="_dealListFetching" class="spinner" width="25px" height="25px" viewBox="0 0 66 66"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
                </center>-->

                <div class="clearfix"></div>

                <wj-flex-grid id="flex" #flex [itemsSource]="lstdeals" [allowResizing]="'Both'" auto-generate-columns="true" allow-add-new="true" allow-sorting="true" showFilterIcons="true" class="wijmogridcss">
                    <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                      

                    <wj-flex-grid-column [header]="''" [isReadOnly]="true" [width]="'*'">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <div>
                                <a routerLink='/dealdetail/{{cell.item.CREDealID}}' (click)="clickeddeal()" routerLinkActive="active">View</a>
                            </div>
                        </ng-template>
                    </wj-flex-grid-column>   
                    <wj-flex-grid-column [header]="'Deal Name'" [binding]="'DealName'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>                
                    <wj-flex-grid-column [header]="'Deal Id'" [binding]="'CREDealID'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Deal Status'" [binding]="'StatusText'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Asset manager'" [binding]="'AssetManager'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Closing date'" [binding]="'EstClosingDate'" [isReadOnly]="true" align="right" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Geo location'" [binding]="'GeoLocation'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Property type'" [binding]="'DealPropertyType'" [isReadOnly]="true" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Total commitment'" [binding]="'TotalCommitment'" [isReadOnly]="true" align="right" [width]="'*'"></wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Fully ext maturity date'" [binding]="'FullyExtMaturityDate'" [isReadOnly]="true" align="right" [width]="'*'"></wj-flex-grid-column>
                </wj-flex-grid>
            </div>
        </div>
    </div>
</div>