<form (ngSubmit)="SavePeriodicClose()" #f="ngForm">
    <div class="col-sm-12">
        <div class="head">
            
            
            <h1 style="display: inline-block;margin-top: 5px;">Periodic Close</h1>
        </div>
        <div *ngIf="_dvEmptySearchMsg" class="alert alert-danger fade in" >
             <strong>No matching records found</strong>
        </div>
        <div *ngIf="_Showmessagediv" class="alert alert-success fade in">
            <strong>{{_ShowmessagedivMsg}}</strong>
        </div>

        <div id="Genericdialogbox" class="modal">
            <div class="modal-dialog" draggable="true" id="myModalgen" style="min-height:300px;width:500px">
                <!-- Modal content -->
                <div class="modal-content" style="padding:0px;border:0px;">
                    <div class="modal-header" style="background:#2196f3 !important">
                        <span class="customheading" style="color:white !important">CRES - Validation Error</span>
                        <span class="close" (click)="ClosePopUpDialog()">×</span>
                    </div>

                    <div class="modal-body" id="savedialogmessage">

                    </div>
                    <div class="modal-footer" style="background-color:white !important;">
                        <!--<button type="button" (click)="ClosePopUpDialog()" class="custombutton" style="width:100px !important">Cancel</button>-->
                        <button type="button" class="custombutton" style="width:100px !important" (click)="Savedialogbox()">Ok</button>
                    </div>


                </div>
            </div>
        </div>

        <div class="fmst">
            <div class="cssload-container" *ngIf="_isPeriodiccloseSaving">
                <div class="cssload-whirlpool"></div>
            </div>
            
            <div class="form-group row pD10">
                <div class="col-sm-3">
                    <label class="lab1">Period Start Date</label>
                    <wj-input-date id="_startDate" [(value)]="_startDate" class="ibox1 rightalign" [format]="'d'" [isRequired]="false" [placeholder]="'M/d/yyyy'"></wj-input-date>
                </div>
                <div class="col-sm-3">
                    <label class="lab1">Period End Date</label>
                    <wj-input-date id="_endDate" [(value)]="_endDate" class="ibox1 rightalign" [format]="'d'" [isRequired]="false" [placeholder]="'M/d/yyyy'"></wj-input-date>
                </div>
                <div class="col-sm-3">
                    <button type="button" id="btnSavePeriodicClose" class="custombutton custombutton_floatleft" style="width: 200px;" (click)="SavePeriodicClose()" [disabled]="!_disabled">Close Period</button>
                </div>
                <div class="col-sm-12" *ngIf="_isGridShow">
                    <div><br /></div>
                    <wj-flex-grid id="flexperiodicclose" #flexperiodicclose [itemsSource]="lstPeriodicClose" [isReadOnly]="true">
                        <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                        <wj-flex-grid-column>
                            <ng-template wjFlexGridCellTemplate [cellType]="'ColumnHeader'" let cell="cell">
                                <div>
                                    <button type="button" id="btnOpenPeriodicClose" class="custombutton" style="width: 200px;" (click)="OpenPeriodicCloseConfirm()" [disabled]="!_disabled">Open Period</button>
                                </div>
                            </ng-template>
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                <input  #periodicclosechk type="checkbox" name="openPeriodicClose" (change)="ChangeOpenPeriodicClose(cell.item.PeriodAutoID,periodicclosechk.checked,cell.row.index)" [checked]="cell.item.IsOpenPeriod"/>
                            </ng-template>
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Period Start Date'" [binding]="'StartDate'" align="right" [width]="'*'"  [dataType]="'Date'" [format]="'MM/dd/yyyy'"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Period End Date'" [binding]="'EndDate'" align="right" [width]="'*'"  [dataType]="'Date'" [format]="'MM/dd/yyyy'" ></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Period Closed By'" [binding]="'CreatedBy'" [width]="'*'"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Period Closed On'" [binding]="'CreatedDate'" align="right" [width]="'*'"></wj-flex-grid-column>
                        
                    </wj-flex-grid>
                </div>
            </div>
        </div>
       

        <div id="customdialogbox" class="modal">
            <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
                <!-- Modal content -->
                <div class="modal-content" style="padding:0px;border:0px;">
                    <div class="modal-header" style="background:#2196f3 !important">
                        <span class="customheading" style="color:white !important">Confirmation</span>
                        <span class="close" (click)="ClosePopUpConfirmBox()">×</span>
                    </div>

                    <div class="modal-body">
                        <span >
                            {{ _ConfirmMsgText }}
                        </span>
                    </div>
                    <div class="modal-footer" style="background-color:white !important;">
                        <button type="button" (click)="ClosePopUpConfirmBox()" class="custombutton" style="width:100px !important">Cancel</button>
                        <button type="button" class="custombutton" style="width:100px !important" (click)="SavePeriodicCloseFunc()">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="customdialogboxopenperiod" class="modal">
            <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
                <!-- Modal content -->
                <div class="modal-content" style="padding:0px;border:0px;">
                    <div class="modal-header" style="background:#2196f3 !important">
                        <span class="customheading" style="color:white !important">Confirmation</span>
                        <span class="close" (click)="ClosePopUpConfirmBox()">×</span>
                    </div>

                    <div class="modal-body">
                        <span >
                            {{ _ConfirmMsgText }}
                        </span>
                    </div>
                    <div class="modal-footer" style="background-color:white !important;">
                        <button type="button" (click)="ClosePopUpopenperiod()" class="custombutton" style="width:100px !important">Cancel</button>
                        <button type="button" class="custombutton" style="width:100px !important" (click)="OpenPeriodicClose()">Ok</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>