<div class="col-sm-12">
    <div class="head">
        <h1>Transaction Audit</h1>
    </div>
    <div class="fmst transaudittopdiv">
        <div class="row MG0">
            
            <div class="col-sm-12  customgridpadding">

                <div class="cssload-container" *ngIf="_isShowLoader">
                    <div class="cssload-whirlpool"></div>
                </div>
                <div *ngIf="_ShowdivMsgWar" class="alert alert-success fade in">
                    <strong>{{_Warningmsg}}</strong>
                </div>

                <div class="clearfix"></div>
                <div *ngIf="_lsttransauditcnt != 0">
                    <wj-flex-grid #flexTransaudit [itemsSource]="lsttranscationaudit" [allowAddNew]="false" [allowResizing]="'Both'" class="gridSize" style="height:calc(99.8vh - 140px);">
                        <wj-flex-grid-column [header]="'File'" [width]="400">
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                <div>
                                    <a routerLink='/Transactionauditdetail/{{cell.item.BatchLogID}}' routerLinkActive="active">{{cell.item.OrigFileName}}</a>
                                </div>
                            </ng-template>
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Total Records'" [binding]="'TotalNumberofRecords'" [width]="100" [isReadOnly]="true"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Imported Records'" [binding]="'NumberofRecordsimported'" [width]="120" [isReadOnly]="true"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Ignored Paydown'" [binding]="'NumberofRecordsPaydownIgnored'" [width]="100" [isReadOnly]="true"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Ignored Others'" [binding]="'NumberofRecordsIgnored'" [width]="100" [isReadOnly]="true"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Uploaded By'" [binding]="'UploadedBY'" [width]="120" [isReadOnly]="true"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Uploaded Date'" [binding]="'UploadedDate'" [width]="150" [isReadOnly]="true"></wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Download File'" [isReadOnly]="true" [width]="100">
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                <div>
                                    <a class="cur-pointer" (click)="DownloadDocument(cell.item.BlobFileName,cell.item.BlobFileName,'AzureBlob','')" title="Click to download" routerLinkActive="active"><img src="../../images/excel_icon.png" /></a>
                                </div>
                            </ng-template>
                        </wj-flex-grid-column>

                        <wj-flex-grid-column [name]="'buttons'" [isReadOnly]="true" align="center" [width]="100">
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                                <a style="text-decoration: underline;" (click)="DeleteAuditRecords(cell.item.BatchLogID)">Delete</a>
                            </ng-template>
                        </wj-flex-grid-column>
                    </wj-flex-grid>
                </div>
                
                <div *ngIf="_lsttransauditcnt == 0" class="alert alert-danger fade in col-sm-12 customgridpadding">

                    <strong>No records found</strong>
                </div>
            </div>
        </div>
    </div>

</div>