
<div class="cssload-container" *ngIf="_isShowLoader">
  <div class="cssload-whirlpool"></div>
</div>
<div class="col-sm-12">
  <div class="head">
    <h1>Data Management</h1>
  </div>
  <div *ngIf="_ShowSuccessmessagediv" class="alert alert-success fade in">
    <strong>{{_ShowSuccessmessage}}</strong>
  </div>
  <div *ngIf="_ShowmessagedivWar" class="alert alert-warning fade in" [innerHtml]="_ShowmessagedivMsgWar">
  </div>

  <div *ngIf="_dvEmptyDealSearchMsg" class="alert alert-danger fade in" style="margin-top:18px;">
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
    <strong>{{_ShowErrorMessage}}</strong>
  </div>

  <div class="fmst">
    <ul id="myTab" class="nav nav-tabs nav-tabs" *ngIf="rolename.toString() == 'Super Admin'">
      <li class="active" *ngIf="_isShowsyncTabs == true && _isShowAllTabs == true"><a data-target="#deletedeal" data-toggle="tab">Delete deal</a></li>
      <li><a data-target="#deletenote" data-toggle="tab">Delete note</a></li>
      <li><a data-target="#upload" data-toggle="tab">Upload File</a></li>
      <li><a data-target="#getservicer" (click)="GetAllServicer()" data-toggle="tab">Servicer </a></li>
      <li><a data-target="#transactiontypes" (click)="getTransactionTypes()" data-toggle="tab">Transaction Types</a></li>
      <li><a data-target="#holidaycalendar" (click)="getHolidayCalendar()" data-toggle="tab">Holiday Calendar</a></li>
      <li><a data-target="#syncQuickbook" data-toggle="tab">Sync Quickbooks</a></li>
      <!--<li *ngIf="_envprod"><a data-target="#importdeal" data-toggle="tab">Import deal from other environment</a></li>-->
    </ul>

    <ul id="myTab" class="nav nav-tabs nav-tabs" *ngIf="rolename.toString() == 'Viewer'">
      <li class="active"><a data-target="#syncQuickbook" data-toggle="tab">Sync Quickbooks</a></li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div *ngIf="rolename.toString() == 'Super Admin'" class="tab-pane fade active in" id="deletedeal">
        <div class="box1a">
          <h3>Delete Deal</h3>
          <div class="form-group row pD10" style="height:calc(99.8vh - 215px);">
            <div class="col-sm-4">
              <label class="lab1">Enter Deal Id or Deal Name</label>
              <input class="ibox1" type="text" [(ngModel)]="_deal.CREDealID" name="CREDealID" #CREDealID="ngModel" id="Name">

              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="col-sm-3">
              <button type="button" class="custombutton" id="btnLogin" (click)="searchDeal()" style="margin-top: 23px !important; float: left  !important; width:120px !important">Search</button>
            </div>

            <div class="col-sm-12 pad-top" *ngIf="_isShowDealGrid">
              <wj-flex-grid id="flex" #flex [itemsSource]="lstdeal" [allowResizing]="'Both'" auto-generate-columns="true" allow-sorting="true" showFilterIcons="true" [headersVisibility]="1" [allowAddNew]="true" allow-add class="gridSize">
                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Deal name'" [isReadOnly]="true" [width]="'*'">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <div>
                      <a routerLink='/dealdetail/{{cell.item.CREDealID}}' routerLinkActive="active">{{cell.item.DealName}}</a>
                    </div>
                  </ng-template>
                </wj-flex-grid-column>


                <wj-flex-grid-column [header]="'Deal Id'" [binding]="'CREDealID'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Deal status'" [binding]="'StatusText'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Asset manager'" [binding]="'AssetManager'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Closing date'" [isReadOnly]="true">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <div>
                      {{cell.item.EstClosingDate| date :  "MM/dd/yyyy"}}
                    </div>
                  </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Action'" [name]="'buttons'" [isReadOnly]="true" align="left" [width]="'*'">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <a style="text-decoration: underline;" (click)="showDialog('Deal',cell.item.DealID,'',cell.item.CREDealID,cell.item.DealName)">Delete</a>
                  </ng-template>
                </wj-flex-grid-column>

              </wj-flex-grid>

            </div>


          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="deletenote">
        <div class="box1a">
          <h3>Delete Note</h3>
          <div class="form-group row pD10" style="height:calc(99.8vh - 215px);">
            <div class="col-sm-4">
              <label class="lab1">Enter Note Id</label>
              <input class="ibox1" type="text" [(ngModel)]="_note.CRENoteID" name="CRENoteID" #CRENoteID="ngModel" id="txtNoteId">

              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="col-sm-3">
              <button type="button" class="custombutton" id="btnLogin" (click)="searchNote()" style="margin-top: 23px !important; float: left  !important; width:120px !important">Search</button>
            </div>
            <div class="col-sm-12 pad-top" *ngIf="_isShowNoteGrid">
              <wj-flex-grid id="flex" #flex [itemsSource]="_notelist" [allowResizing]="'Both'" auto-generate-columns="true" allow-sorting="true" showFilterIcons="true" [headersVisibility]="1" [allowAddNew]="true" allow-add class="gridSize">

                <wj-flex-grid-filter #filter></wj-flex-grid-filter>

                <wj-flex-grid-column [header]="'Note Id'" [isReadOnly]="true">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <div>
                      <a href='/#/notedetail/{{cell.item.NoteId}}' routerLinkActive="active">{{cell.item.CRENoteID}}</a>
                    </div>
                  </ng-template>
                </wj-flex-grid-column>

                <wj-flex-grid-column [header]="'Deal name'" [binding]="'DealName'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Note status'" [binding]="'StatusName'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Rate type'" [binding]="'RateTypeText'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Closing date'" [isReadOnly]="true">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <div>
                      {{cell.item.ClosingDate| date :  "MM/dd/yyyy"}}
                    </div>
                  </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Action'" [name]="'buttons'" [isReadOnly]="true" align="left" [width]="'*'">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <a style="text-decoration: underline;" (click)="showDialog('Note',cell.item.NoteId,cell.item.DealID,cell.item.CRENoteID,cell.item.Name)">Delete</a>
                  </ng-template>
                </wj-flex-grid-column>
              </wj-flex-grid>

            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="upload">
        <div class="box1a">
          <h3>Upload File</h3>
          <div class="form-group row transreconcilepadding" style="height:calc(99.8vh - 225px);">
            <div class="col-sm-12">


              <ul class="nav nav-tabs nav-tabs">
                <li class="list-group-item nguploadcustom" style="border:none !important;">
                  <!--<div class="dvngfileinput">
                    <ng2-file-input [id]="wellsuploadfile" [browse-text]='"Daily Extract"' [multiple]="false" (onAdded)="onAdded($event)" (onAction)="onAction($event,'wellsupload')"></ng2-file-input>
                  </div>

                  <div class="dvngfileinput">
                    <ng2-file-input [id]="NoteMatrixupload" [browse-text]='"Note Matrix"' [multiple]="false" (onAdded)="onAdded($event)" (onAction)="onAction($event,'NoteMatrix')"></ng2-file-input>
                  </div>-->
                </li>
              </ul>
            </div>


          </div>
        </div>
      </div>

      <div id="importdeal" class="tab-pane  fade">
        <div class="box1a">
          <h3> Import deal from other environment </h3>
          <div class="form-group row pD10" style="height:calc(99.8vh - 215px);">
            <div class="col-sm-3">
              <label class="lab1">Enter Source CREDealID </label>
              <input class="ibox1" type="text" [(ngModel)]="_deal.CREDealID" name="CREDealID" #CREDealID="ngModel" id="CREDealID">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="col-sm-3">
              <label class="lab1">Select Source Environment </label>

              <select id="envname" name="envname" class="ibox1" [(ngModel)]="_deal.envname" #envname="ngModel">
                <option value="default" selected="selected"> Select Environment </option>
                <option value="QA" *ngIf="hideenvqa"> QA </option>
                <option value="Integration" *ngIf="hideenvinteg">Integration </option>
                <option value="Staging" *ngIf="hideenvstag"> Staging </option>
                <option value="Acore"> Production </option>
              </select>

              <span class="highlight"></span>
              <span class="bar"></span>
            </div>

            <div class="col-sm-3">
              <label class="lab1">Enter NewCREDealID </label>
              <input class="ibox1" type="text" [(ngModel)]="_deal.CopyDealID" name="CopyDealID" #CopyDealID="ngModel" id="CopyDealID">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>

            <div class="col-sm-3">
              <label class="lab1">Enter NewDealName </label>
              <input class="ibox1" type="text" [(ngModel)]="_deal.CopyDealName" name="CopyDealName" #CopyDealName="ngModel" id="CopyDealName">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="col-sm-3">
              <button type="button" class="custombutton" id="newimport" (click)="importDeal()" style="margin-top: 23px !important; float: left  !important; width:120px !important">Import Deal</button>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-4 col-sm-1">
            <div *ngIf="importprocessbar">
              <span class="loader"><span class="loader-box"></span><span class="loader-box"></span><span class="loader-box"></span></span>
            </div>
          </div>
        </div>


      </div>

      <div id="getservicer" class="tab-pane  fade">
        <div class="box1a">
          <h3> Servicer </h3>
          <div class="form-group row pD10" style="height:calc(99.8vh - 215px);">
            <div class="col-sm-3">
              <label class="lab1">Servicer Name</label>
              <select id="ServicerMasterID" name="ServicerMasterID" class="ibox1"
                      (change)="ServicerNameChange($event,'Name')">
                <option *ngFor="let svritem of lstServicer" value={{svritem.ServicerMasterID}}>
                  {{svritem.ServicerDisplayName}}
                </option>
              </select>
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>

            <div class="col-sm-3">
              <label class="lab1"> Servicer Drop Date  </label>
              <input class="ibox1" type="number" (change)="ServicerNameChange($event,'ServicerDropDate')" value="{{servicerdropdate}}" name="ServicerDropDate" id="ServicerDropDate">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>

            <div class="col-sm-3">
              <label class="lab1">Repayment Drop Date </label>
              <input class="ibox1" type="number" (change)="ServicerNameChange($event,'RepaymentDropDate')" value="{{repaymentdropdate}}" name="RepaymentDropDate" id="RepaymentDropDate">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="col-sm-3">
              <button type="button" class="custombutton" id="saveservicer" (click)="SaveServicer()" style=" float: left !important;margin-top: 23px !important">Save</button>
            </div>

          </div>
        </div>
      </div>
      <div id="transactiontypes" class="tab-pane  fade">
        <div class="box1a">
          <h3> Transaction Types </h3>
          <div class="row MG0">

            <div class="clearfix"></div>
            <div class="col-sm-12 customgridpadding">

              <button type="button" class="custombutton" id="btnLogin" (click)="TransactionTypeValidation()" style="float: right  !important; width:120px !important">Save</button>

              <wj-flex-grid id="transactionflex" #transactionflex [itemsSource]="_transactiontypeslist" [allowResizing]="'Both'"
                            (initialized)="addFooterRow(transactionflex)" (cellEditEnded)="cellEditTransactionTypes(transactionflex,$event)"
                            (pasted)="CopiedTransactiontypes(transactionflex,$event)"
                            allow-sorting="false" [allowAddNew]="true" allow-add class="wijmogridcss" style="height:calc(99.8vh - 260px);">
                <wj-flex-grid-filter #filter [filterColumns]="['TransactionName','TransactionCategory','TransactionGroup','CalculatedText','IncludeCashflowDownloadText','IncludeServicingReconciliationText','IncludeGAAPCalculationsText','AllowCalculationOverrideText']"></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Transaction Name'" [binding]="'TransactionName'" [width]="210"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Category'" [binding]="'TransactionCategory'" [width]="160"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Group'" [binding]="'TransactionGroup'" [width]="120"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Calculated'" [binding]="'CalculatedText'" [dataMapEditor]="true" [width]="110"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Include in Cashflow Download'" [dataMapEditor]="true" [binding]="'IncludeCashflowDownloadText'" [width]="210"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Include in Servicing Reconciliation'" [dataMapEditor]="true" [binding]="'IncludeServicingReconciliationText'" [width]="240"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Include in GAAP Calculations'" [dataMapEditor]="true" [binding]="'IncludeGAAPCalculationsText'" [width]="210"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Allow Calculation Override'" [dataMapEditor]="true" [binding]="'AllowCalculationOverrideText'" [width]="210"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Action'" [name]="'buttons'" [isReadOnly]="true" align="left" [width]="60">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <div *ngIf="cell.item.CalculatedText =='N'||cell.item.CalculatedText =='4'||cell.item.CalculatedText==null">
                      <a style="text-decoration: underline;" (click)="showDialogbox('Transaction types',cell.item.TransactionTypesID,cell.row.index)">Delete</a>
                    </div>
                  </ng-template>
                </wj-flex-grid-column>
              </wj-flex-grid>
            </div>
          </div>
        </div>
      </div>
      <!-- Holiday Calendar -->
      <div id="holidaycalendar" class="tab-pane  fade">
        <div class="box1a">
          <h3> Holiday Calendar </h3>
          <div class="row MG0">
            <div class="clearfix"></div>
            <div class="col-sm-12 customgridpadding">
              <button type="button" class="custombutton" (click)="InsertHolidayDatesByID()" id="btnLogin" style="float: right  !important; width:120px !important">Save</button>
              <button type="button" class="custombutton" (click)="OpenCalendarNamepopup()" id="btnLogin" style="float: right  !important; width:120px !important">Add New</button>
            </div>
            <div class="col-sm-3">
              <label class="lab1">
                <b>Calendar Name</b>
                <select [(ngModel)]="myDefault.HolidayMasterID" id="CalendarName" name="CalendarName" #CalendarName="ngModel" (change)="CalendarNameChange(myDefault.HolidayMasterID)" class="ibox2">
                  <option *ngFor="let calendar of lstCalendarName"
                          value={{calendar.HolidayMasterID}}>
                    {{calendar.CalendarName}}
                  </option>
                </select>
              </label>
            </div>
            <div class="col-sm-12">
              <span class="customheading"> Holiday List</span>
            </div>
            <br>
            <div>
              <wj-flex-grid [isReadOnly]="false" id="holidaycalendarflex" #holidaycalendarflex [itemsSource]="lstHolidaycalendardate" [allowResizing]="'Both'"
                            (initialized)="addFooterRow(holidaycalendarflex)" (cellEditEnded)="cellEditHolidaysDate(holidaycalendarflex,$event)"
                            (pasted)="CopiedHolidaysDate(holidaycalendarflex,$event)"
                            allow-sorting="false" [allowAddNew]="true" allow-add class="wijmogridcss" style="height:calc(99.8vh - 330px);">
                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Date'" [binding]="'HoliDayDate'" [format]="'MM/dd/yyyy'" [width]="136"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Action'" [name]="'buttons'" [isReadOnly]="true" align="left" [width]="60">
                  <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                    <a style="text-decoration: underline;" (click)="showDeleteDialogbox('Holiday date',cell.item.HoliDayDate,cell.row.index)">Delete</a>
                  </ng-template>
                </wj-flex-grid-column>
              </wj-flex-grid>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade active in" id="syncQuickbook">
        <!--<div class="box1a">
            <h3>Sync Quickbooks</h3>-->
        <div class="form-group row pD10" style="height:calc(99.8vh - 215px);">
          <div class="dvngfileinput">
            <button type="button" class="custombutton" style="width:124px !important;float:left !important;margin-left:5px !important;" id="btnsyncQuickbook" (click)="syncQuickbook()">Sync Quickbooks</button>
          </div>
        </div>
        <!--</div>-->
      </div>

    </div>
  </div>
  <div id="dialogoverlay"></div>
  <div id="dialogbox">
    <div>
      <div id="dialogboxhead"></div>
      <div id="dialogboxbody"></div>
      <div id="dialogboxfoot"><span class="btn custombutton" (click)="ok()">Ok</span></div>
    </div>
  </div>

  <div id="customdialogbox" class="modal">
    <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
      <!-- Modal content -->
      <div class="modal-content" style="padding:0px;border:0px;">
        <div class="modal-header" style="background:#2196f3 !important">
          <span class="customheading" style="color:white !important">Delete {{_module.ModuleName}}</span>
          <span class="close" (click)="ClosePopUp()">×</span>
        </div>

        <div class="modal-body">
          <span class="customheading">

            {{ _MsgText }}
          </span>

        </div>
        <div class="modal-footer" style="background-color:white !important;">
          <button type="button" (click)="ClosePopUp()" class="custombutton" style="width:100px !important">Cancel</button>
          <button type="button" class="custombutton" style="width:100px !important" (click)="deleteModuleByID()">Ok</button>
        </div>


      </div>
    </div>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-dialog" draggable="true" id="myModal" style="min-height:300px;width:500px">
      <!-- Modal content -->
      <div class="modal-content" style="padding:0px;border:0px;">
        <div class="modal-header" style="background:#2196f3 !important">
          <span class="customheading" style="color:white !important">Well File upload</span>
          <span class="close" (click)="CloseWellsPopUp()">×</span>
        </div>

        <div class="modal-body">
          <span class="customheading">Are you sure you want to import the file {{filename}} ?.</span>

        </div>
        <div class="modal-footer" style="background-color:white !important;">
          <button type="button" (click)="CloseWellsPopUp()" class="custombutton" style="width:100px !important">Cancel</button>
          <button type="button" (click)="ImportFile()" class="custombutton" style="width:100px !important">Ok</button>
        </div>
      </div>
    </div>
  </div>
  <div id="custombox" class="modal">
    <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
      <!-- Modal content -->
      <div class="modal-content" style="padding:0px;border:0px;">
        <div class="modal-header" style="background:#2196f3 !important">
          <span class="customheading" style="color:white !important">Delete {{_module.ModuleName}}</span>
          <span class="close" (click)="ClosePopUp()">×</span>
        </div>

        <div class="modal-body">
          <span class="customheading">

            {{ _MsgText }}
          </span>

        </div>
        <div class="modal-footer" style="background-color:white !important;">
          <button type="button" (click)="CloseTransactionPopUp()" class="custombutton" style="width:100px !important">Cancel</button>
          <button type="button" class="custombutton" style="width:100px !important" (click)="deleteTransactionType()">Ok</button>
        </div>

      </div>
    </div>
  </div>
  <div id="AddCalendarNamedialogbox" class="modal">
    <div class="modal-dialog" draggable="true" id="myModal-Add" style="min-height:300px;width:300px">
      <!-- Modal content -->
      <div class="modal-content" style="padding:0px;border:0px;">
        <div class="modal-header" style="background:#2196f3 !important">
          <span class="customheading" style="color:white !important">Add New Calendar</span>
          <span class="close" (click)="CloseAddCalendarPopUp()">×</span>
        </div>

        <div class="modal-body">
          <label class="lab1"> Calendar Name</label>
          <input class="ibox1" type="text" [(ngModel)]="newCalendarname" name="newCalendarname" #Calendarname="ngModel">
        </div>
        <div class="modal-footer" style="background-color:white !important;">
          <button type="button" (click)="CloseAddCalendarPopUp()" class="custombutton" style="width:100px !important">Cancel</button>
          <button type="button" class="custombutton" style="width:100px !important" (click)="AddNewCalendarName()">Ok</button>
        </div>

      </div>
    </div>
  </div>
  <div id="deletebox" class="modal">
    <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
      <!-- Modal content -->
      <div class="modal-content" style="padding:0px;border:0px;">
        <div class="modal-header" style="background:#2196f3 !important">
          <span class="customheading" style="color:white !important">Delete {{_module.ModuleName}}</span>
          <span class="close" (click)="ClosePopUp()">×</span>
        </div>

        <div class="modal-body">
          <span class="customheading">
            {{ _MsgText }}
          </span>

        </div>
        <div class="modal-footer" style="background-color:white !important;">
          <button type="button" (click)="CloseDeletePopUp()" class="custombutton" style="width:100px !important">Cancel</button>
          <button type="button" class="custombutton" style="width:100px !important" (click)="deleteFromModuleList('HolidayCalendar')">Ok</button>
        </div>

      </div>
    </div>
  </div>
</div>



