<div class="col-sm-12 w7">
  <div class="head">
    <h1>Backshop Import</h1>
  </div>
  <div *ngIf="_dvDealImport" class="alert alert-danger fade in" style="margin-top:18px;">
    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>-->
    <strong>{{_dvDealImportMsg}}</strong>
  </div>

  <form class="inputCenterAlign" #hf="ngForm">
    <div class="table">
      <div class="row MG0">
        <div class="col-sm-3">
          <label class="lab1">Enter Deal Id</label>
          <input class="ibox1" type="text" required [(ngModel)]="_backshopImport.DealName" name="DealName" #DealName="ngModel" autofocus tabindex="1">
          <span class="highlight"></span>
          <span class="bar"></span>
        </div>
        <div class="col-sm-3">
          <br />
          <button type="submit" class="custombutton" (click)="ImportBackShopInUnderwritingtable()" [disabled]="!hf.form.valid" style="float: left  !important;" tabindex="1">Import deal</button>
          <!--margin-top: 20px !important;-->
        </div>
      </div>
    </div>
    <div class="cssload-container" *ngIf="isProcessComplete">
      <div class="cssload-whirlpool"></div>
    </div>



    <div id="customdialogbox" class="modal">
      <div class="modal-dialog" draggable="true" id="myModal-Delete" style="min-height:300px;width:500px">
        <!-- Modal content -->
        <div class="modal-content" style="padding:0px;border:0px;">
          <div class="modal-header" style="background:#2196f3 !important">
            <span class="customheading" style="color:white !important">Backshop Import</span>
            <span class="close" (click)="ClosePopUp()">×</span>
          </div>

          <div class="modal-body">
            <span class="customheading">{{ messagetext }}</span>

          </div>
          <div class="modal-footer" style="background-color:white !important;">
            <button type="button" (click)="ClosePopUp()" class="custombutton" style="width:100px !important">Cancel</button>
            <button type="button" (click)="startimportprocess()" class="custombutton" style="width:100px !important">Ok</button>
          </div>


        </div>
      </div>
    </div>

  </form>
</div>
