<form #f="ngForm">
    <div class="col-sm-12">
        <div class="head fixheaderdiv">

            <h1 style="display: inline-block; margin-top: 10px;">
                Index Details: {{_indexesdc.IndexesName}}
            </h1>

            <span>

                <button class="custombutton" id="btnCancelIndexScenario" style="margin-right:22px !important;" (click)="DiscardChanges()">
                    Cancel
                </button>
                <button class="custombutton" id='btnSaveIndexScenario' (click)="ValidateIndexesAndSave('Save')">
                    Save
                </button>
                <span *ngIf="_isShowImportIndexes">
                    <button class="custombutton" id='btnImportIndex' (click)="showDialogImportIndex()">
                        Import Indexes
                    </button>
                </span>
                <button class="custombutton" id='btnRefreshLibors' (click)="RefreshLibors()">
                    Refresh Libors
                </button>
            </span>

            <div *ngIf="_ShowmessagedivWar" class="alert alert-warning fade in">
                <strong>{{_ShowmessagedivMsgWar}}</strong>
            </div>
        </div>

        <div class="fmst fixheadercontent">
            <div class="cssload-container" *ngIf="_isIndexesDetailFetching">
                <div class="cssload-whirlpool"></div>
            </div>
            <div class="form-group row pD10">
                <div class="col-sm-5">
                    <label class="lab1">Index Scenario</label>
                    <input class="ibox1" required type="text" [(ngModel)]="_indexesdc.IndexesName" name="IndexesName" ngControl="IndexesName" #IndexesName="ngModel" id="IndexesName">
                </div>

                <div class="col-sm-7">
                    <label class="lab1">Description</label>
                    <textarea style="font-family: inherit;font-size: inherit;" (keyup)="adjustdescrtiptionheight()" class="ibox1 input-lg" rows="2" cols="60" [(ngModel)]="_indexesdc.Description" name="Description" #Description="ngModel" id="Description"></textarea>
                </div>

            </div>

            <div style="margin-top:10px;">
                <div class="col-sm-12">
                    <span class="customheading" style="margin-top:1px;">Index Rates</span>
                    <button type="button" style="margin-right: 24px !important;" id="btnDownloadIndexsExportData" *ngIf="_isIndexLoad" class="custombutton_150px" (click)="downloadIndexsExportData()">Download Index Rates</button>
                </div>
                <div class="form-group row pD10">
                    <div class="col-sm-12 ">
                        <wj-flex-grid id="flexIndexesDetail" #flexIndexesDetail [itemsSource]="cvIndexesDetaildata" [allowAddNew]="true" [allowResizing]="'Both'" class="gridSize indexdetailgrid"
                                      (selectionChanged)="IndexesDetailselectionChanged()" selection-mode="Row" (beginningEdit)="beginningEdit('IndexesDetail')" (rowEditEnded)="rowEditEnded('IndexesDetail')" (pasted)="CopiedDataValidate('IndexesDetail')">

                        </wj-flex-grid>
                    </div>
                </div>
            </div>

            <div id="dialogoverlay"></div>
            <div id="dialogbox">
                <div>
                    <div id="dialogboxhead"></div>
                    <div id="dialogboxbody"></div>
                    <div id="dialogboxfoot"><span class="btn custombutton" (click)="ok()">Ok</span></div>
                </div>
            </div>

            <div class="cssload-container" *ngIf="_isNoteSaving">
                <div class="cssload-whirlpool"></div>
            </div>

            <div id="myModalImportIndex" class="modal">
                <div class="modal-dialog" id="modal-dialog" style="min-height:100px;width:400px">
                    <div class="modal-content" style="padding:0px;border:0px;">
                        <div class="modal-header" style="background:#2196f3 !important">
                            Import Indexes:
                            <span class="close" (click)="ClosePopUpImportIndex()">×</span>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row pD10" style="padding-bottom: 10px !important;">
                                <div>
                                    <select class="ibox1 mar-bootom-10" [(ngModel)]="indexId" id="indexId" name="indexId" (change)="ChangeFolder($event.target.value)">
                                        <option value=0>Import From</option>
                                        <option *ngFor="let item of lstIndexesData" value={{item.IndexesMasterGuid}}>
                                            {{item.IndexesName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div *ngIf="!_IndexFromSelected" class="alert alert-warning fade in">
                                <strong>Please select import from</strong>
                            </div>
                            <div class="modal-footer" style="background-color:white !important;">
                                <button id="ImportReplace" type="button" class="custombutton" (click)="ImportIndex($event.target)">Replace</button>
                                <button id="ImportOverwrite" type="button" class="custombutton" (click)="ImportIndex($event.target)">Overwrite</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>