<div id="myModelimpersonate" class="modal">
  <div class="modal-dialog" id="myModalimpersonate" style="width:355px;">
    <div class="modal-content" style="padding:1px;">
      <div class="modal-header custommodelheader">
        <span class="customheading" style="color:white !important">Choose whom to delegate</span>
        <span class="close" (click)="ClosePopUp()">x</span>
      </div>

      <div class="modal-body" draggable="true" id="myModal-impersonate" style="width:350px;overflow-y: scroll;min-height:200px;">
        <div class="acitivitycontent">
          <div class="notificationuserdiv" *ngFor="let _user of userNameList">

            <div class="notificationdivname">
              {{_user.UserIDText}}
            </div>

            <div class="notificationdivcheckbox">
              <input type="radio" name="choosetoimpersonate"
                     [checked]="_user.Selecteduser"
                     (change)="onSelectionChange(_user.DelegatedUserID,_user.UserID)" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background-color:white !important">
        <button type="button" style="margin-right: 97px !important;width:41%!important;" class="custombutton" (click)="DelegateUser()">Delegated Authority</button>
      </div>
    </div>
  </div>

</div>
