CREATE PROCEDURE [DW].[usp_ImportLiabilityNote]
	@BatchLogId int,@LastBatchStart datetime, @CurrentBatchStart datetime
AS
BEGIN
	SET NOCOUNT ON;

	INSERT INTO [DW].BatchDetail (BatchLogId,LandingTableName,LandingStartTime)
	VALUES (@BatchLogId,'L_LiabilityNoteBI',GETDATE())

	DECLARE @id int,@RowCount int
	SET @id = (SELECT @@IDENTITY)


IF EXISTS(Select [LiabilityNoteAutoID] from [dw].[LiabilityNoteBI])
BEGIN

Truncate table [DW].[L_LiabilityNoteBI]

INSERT INTO [DW].[L_LiabilityNoteBI]
([LiabilityNoteAutoID]
,[LiabilityNoteGUID]
,[AccountID]
,[DealAccountID]
,[DealID]
,[LiabilityNoteID]
,[LiabilityTypeID]
,[TypeName]
,[AssetAccountID]
,[AssetID]
,[PledgeDate]
,[CurrentAdvanceRate]
,[TargetAdvanceRate]
,[CurrentBalance]
,[UndrawnCapacity]
,[CreatedBy]
,[CreatedDate]
,[UpdatedBy]
,[UpdatedDate]
,[TempBalanceAsofCalcDate]
,[DebtEquityType]
,LiabilitySource
,LiabilitySourceText
,[LatestMaturityDate]
,[LatestEffectiveDate])
Select
LN.[LiabilityNoteAutoID]
,LN.[LiabilityNoteGUID]
,LN.[AccountID]
,LN.[DealAccountID]
,D.[DealID]
,LN.[LiabilityNoteID]
,LN.[LiabilityTypeID]
,LT.[TypeName]
,LN.[AssetAccountID]
,A.[AssetID]
,gsetupLia.PledgeDate
,LN.[CurrentAdvanceRate]
,LN.[TargetAdvanceRate]
,LN.[CurrentBalance]
,LN.[UndrawnCapacity]
,LN.[CreatedBy]
,LN.[CreatedDate]
,LN.[UpdatedBy]
,LN.[UpdatedDate]
,LN.[TempBalanceAsofCalcDate]
,LT.[DebtEquityType]
,gsetupLia.LiabilitySourceID as LiabilitySource 
,gsetupLia.LiabilitySourceText
,gsetupLia.MaturityDate [LatestMaturityDate]
,gsetupLia.EffectiveStartDate [LatestEffectiveDate]
FROM CRE.LiabilityNote LN
Inner Join core.Account acc on acc.AccountID = ln.AccountID 
LEFT Join Cre.Deal D ON D.AccountID = LN.DealAccountID
LEFT Join (
	Select AccountID, DealName as AssetID from CRE.Deal
	UNION
	Select Account_AccountID, CRENoteID From Cre.Note 
) A ON A.AccountID = LN.AssetAccountID
LEFT JOIN (
	Select acc.AccountID as AccountID,acc.name as 'TypeName' ,'Debt' as [Type]  ,ac.name as [DebtEquityType]
	from cre.Debt d   
	Inner Join core.Account acc on acc.AccountID =  d.AccountID  
	Inner join core.accountcategory ac on ac.accountcategoryID = acc.accounttypeid
	where  IsDeleted<> 1   
	
	UNION ALL    
	
	Select acc.AccountID as AccountID,acc.name as 'TypeName' ,'Equity' as [Type]   ,ac.name as [DebtEquityType]
	from cre.Equity d   
	Inner Join core.Account acc on acc.AccountID =  d.AccountID   
	Inner join core.accountcategory ac on ac.accountcategoryID = acc.accounttypeid
	where IsDeleted<> 1   
 
	UNION ALL    
	
	Select acc.AccountID as AccountID,acc.name as 'TypeName' ,'Cash' as [Type]   ,ac.name as [DebtEquityType]
	from cre.Cash d   
	Inner Join core.Account acc on acc.AccountID =  d.AccountID   
	Inner join core.accountcategory ac on ac.accountcategoryID = acc.accounttypeid
	where IsDeleted<> 1
) LT ON LT.AccountID = LN.[LiabilityTypeID]
left Join (
	Select acc.AccountID,e.EffectiveStartDate,PaydownAdvanceRate,FundingAdvanceRate,TargetAdvanceRate,MaturityDate,PledgeDate,LiabilitySourceID
			,lLiabilitySource.Name as LiabilitySourceText
	from [CORE].GeneralSetupDetailsLiabilityNote gslia
	INNER JOIN [CORE].[Event] e on e.EventID = gslia.EventId
	INNER JOIN 
	(						
		Select eve.AccountID,MAX(EffectiveStartDate) EffectiveStartDate,EventTypeID ,eve.StatusID
		from [CORE].[Event] eve	
		INNER JOIN [CORE].[Account] acc ON acc.AccountID = eve.AccountID
		where EventTypeID = (Select LookupID from CORE.[Lookup] where Name = 'GeneralSetupDetailsLiabilityNote')
		and acc.IsDeleted <> 1
		and eve.StatusID = 1
		GROUP BY eve.AccountID,EventTypeID,eve.StatusID

	) sEvent
	ON sEvent.AccountID = e.AccountID and e.EffectiveStartDate = sEvent.EffectiveStartDate  and e.EventTypeID = sEvent.EventTypeID
	INNER JOIN [CORE].[Account] acc ON acc.AccountID = e.AccountID
	Left Join core.lookup lLiabilitySource on lLiabilitySource.lookupid = gslia.LiabilitySourceID
	where e.StatusID = 1 and acc.IsDeleted <> 1
)gsetupLia on gsetupLia.AccountID = ln.AccountID

WHERE acc.isdeleted <> 1
and (LN.CreatedDate > @LastBatchStart and LN.CreatedDate < @CurrentBatchStart) 
OR (LN.UpdatedDate > @LastBatchStart and LN.UpdatedDate < @CurrentBatchStart)

SET @RowCount = @@ROWCOUNT
Print(char(9) +'usp_ImportLiabilityNote - ROWCOUNT = '+cast(@RowCount  as varchar(100)));

END
ELSE
BEGIN

Truncate table [DW].[L_LiabilityNoteBI]
INSERT INTO [DW].[L_LiabilityNoteBI]
([LiabilityNoteAutoID]
,[LiabilityNoteGUID]
,[AccountID]
,[DealAccountID]
,[DealID]
,[LiabilityNoteID]
,[LiabilityTypeID]
,[TypeName]
,[AssetAccountID]
,[AssetID]
,[PledgeDate]
,[CurrentAdvanceRate]
,[TargetAdvanceRate]
,[CurrentBalance]
,[UndrawnCapacity]
,[CreatedBy]
,[CreatedDate]
,[UpdatedBy]
,[UpdatedDate]
,[TempBalanceAsofCalcDate]
,LiabilitySource
,LiabilitySourceText
,[LatestMaturityDate]
,[LatestEffectiveDate])
Select
LN.[LiabilityNoteAutoID]
,LN.[LiabilityNoteGUID]
,LN.[AccountID]
,LN.[DealAccountID]
,D.[DealID]
,LN.[LiabilityNoteID]
,LN.[LiabilityTypeID]
,LT.[TypeName]
,LN.[AssetAccountID]
,A.[AssetID]
,gsetupLia.[PledgeDate]
,LN.[CurrentAdvanceRate]
,LN.[TargetAdvanceRate]
,LN.[CurrentBalance]
,LN.[UndrawnCapacity]
,LN.[CreatedBy]
,LN.[CreatedDate]
,LN.[UpdatedBy]
,LN.[UpdatedDate]
,LN.[TempBalanceAsofCalcDate]
,gsetupLia.LiabilitySourceID as LiabilitySource 
,gsetupLia.LiabilitySourceText
,gsetupLia.MaturityDate [LatestMaturityDate]
,gsetupLia.EffectiveStartDate [LatestEffectiveDate]
FROM CRE.LiabilityNote LN
Inner Join core.Account acc on acc.AccountID = ln.AccountID 
LEFT Join Cre.Deal D ON D.AccountID = LN.DealAccountID
LEFT Join (
	Select AccountID, DealName as AssetID from CRE.Deal
	UNION
	Select Account_AccountID, CRENoteID From Cre.Note 
) A ON A.AccountID = LN.AssetAccountID
LEFT JOIN (
	Select acc.AccountID as AccountID,acc.name as 'TypeName' ,'Debt' as [Type]  
	from cre.Debt d   
	Inner Join core.Account acc on acc.AccountID =  d.AccountID   
	where  IsDeleted<> 1   
	
	UNION ALL    
	
	Select acc.AccountID as AccountID,acc.name as 'TypeName' ,'Equity' as [Type]  
	from cre.Equity d   
	Inner Join core.Account acc on acc.AccountID =  d.AccountID   
	where IsDeleted<> 1   
 
	UNION ALL    
	
	Select acc.AccountID as AccountID,acc.name as 'TypeName' ,'Cash' as [Type]  
	from cre.Cash d   
	Inner Join core.Account acc on acc.AccountID =  d.AccountID   
	where IsDeleted<> 1
) LT ON LT.AccountID = LN.[LiabilityTypeID]
left Join (
	Select acc.AccountID,e.EffectiveStartDate,PaydownAdvanceRate,FundingAdvanceRate,TargetAdvanceRate,MaturityDate,PledgeDate,LiabilitySourceID
			,lLiabilitySource.Name as LiabilitySourceText
	from [CORE].GeneralSetupDetailsLiabilityNote gslia
	INNER JOIN [CORE].[Event] e on e.EventID = gslia.EventId
	INNER JOIN 
	(						
		Select eve.AccountID,MAX(EffectiveStartDate) EffectiveStartDate,EventTypeID ,eve.StatusID
		from [CORE].[Event] eve	
		INNER JOIN [CORE].[Account] acc ON acc.AccountID = eve.AccountID
		where EventTypeID = (Select LookupID from CORE.[Lookup] where Name = 'GeneralSetupDetailsLiabilityNote')
		and acc.IsDeleted <> 1
		and eve.StatusID = 1
		GROUP BY eve.AccountID,EventTypeID,eve.StatusID

	) sEvent
	ON sEvent.AccountID = e.AccountID and e.EffectiveStartDate = sEvent.EffectiveStartDate  and e.EventTypeID = sEvent.EventTypeID
	INNER JOIN [CORE].[Account] acc ON acc.AccountID = e.AccountID
	Left Join core.lookup lLiabilitySource on lLiabilitySource.lookupid = gslia.LiabilitySourceID
	where e.StatusID = 1 and acc.IsDeleted <> 1
)gsetupLia on gsetupLia.AccountID = ln.AccountID
WHERE acc.isdeleted <> 1

SET @RowCount = @@ROWCOUNT
Print(char(9) +char(9)+'usp_ImportLiabilityNote - ROWCOUNT = '+cast(@RowCount  as varchar(100)));

END

UPDATE [DW].BatchDetail SET
LandingEndTime = GETDATE(),
LandingRecordCount = @RowCount
WHERE BatchDetailId = @id

END