CREATE PROCEDURE [DW].[usp_MergeTransactionEntryLiability]
@BatchLogId int
AS
BEGIN

SET NOCOUNT ON

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

	UPDATE [DW].BatchDetail SET
	BITableName = 'TransactionEntryLiabilityBI',
	BIStartTime = GETDATE()
	WHERE BatchLogId = @BatchLogId and LandingTableName = 'L_TransactionEntryLiabilityBI'


	IF EXISTS(Select top 1 [TransactionEntryLiabilityID] from [DW].[L_TransactionEntryLiabilityBI])
	BEGIN

		Delete from [DW].[TransactionEntryLiabilityBI] where LiabilityNoteAccountID in (Select Distinct LiabilityNoteAccountID from [DW].[L_TransactionEntryLiabilityBI])

		INSERT INTO [DW].[TransactionEntryLiabilityBI]
			([TransactionEntryLiabilityID]
			,[TransactionEntryLiabilityAutoID]
			,[LiabilityAccountID]
			,[LiabilityTypeName]
			,[LiabilityNoteAccountID]
			,[LiabilityNoteID]
			,[Date]
			,[Amount]
			,[TransactionType]
			,[AnalysisID]
			,[AnalysisName]
			,[EndingBalance]
			,[AssetAccountID]
			,[NoteID]
			,[AssetDate]
			,[AssetAmount]
			,[AssetTransactionType]
			,[CreatedBy]
			,[CreatedDate]
			,[UpdatedBy]
			,[UpdatedDate]
			,[ParentAccountId]
			,[Flag]
			,NoteEndingBalance
			,NotePIKBalance
			)
		Select
			[TransactionEntryLiabilityID]
			,[TransactionEntryLiabilityAutoID]
			,[LiabilityAccountID]
			,[LiabilityTypeName]
			,[LiabilityNoteAccountID]
			,[LiabilityNoteID]
			,[Date]
			,[Amount]
			,[TransactionType]
			,[AnalysisID]
			,[AnalysisName]
			,[EndingBalance]
			,[AssetAccountID]
			,[NoteID]
			,[AssetDate]
			,[AssetAmount]
			,[AssetTransactionType]
			,[CreatedBy]
			,[CreatedDate]
			,[UpdatedBy]
			,[UpdatedDate]
			,[ParentAccountId]
			,[Flag]
			,NoteEndingBalance
			,NotePIKBalance
			From [DW].[L_TransactionEntryLiabilityBI] tb
	END

	DECLARE @RowCount int
	SET @RowCount = @@ROWCOUNT

	UPDATE [DW].BatchDetail
	SET
	BIEndTime = GETDATE(),
	BIRecordCount = @RowCount
	WHERE BatchLogId = @BatchLogId and LandingTableName = 'L_TransactionEntryLiabilityBI'

	Print(char(9) +'usp_MergeTransactionEntryLiability - ROWCOUNT = '+cast(@RowCount  as varchar(100)));

SET TRANSACTION ISOLATION LEVEL READ COMMITTED 

END