CREATE PROCEDURE [DW].[usp_ImportGeneralSetupDetailsLiabilityNote]
	@BatchLogId int,@LastBatchStart datetime, @CurrentBatchStart datetime
AS
BEGIN
	SET NOCOUNT ON;

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

	DECLARE @id int,@RowCount int

	INSERT INTO [DW].BatchDetail (BatchLogId,LandingTableName,LandingStartTime)
	VALUES (@BatchLogId,'L_GeneralSetupDetailsLiabilityNoteBI',GETDATE())

	SET @id = (SELECT @@IDENTITY)

	--Import logic moved to Merge procedure due to truncate insert operation

SET @RowCount = @@ROWCOUNT
	Print(char(9) +'usp_ImportGeneralSetupDetailsLiabilityNote - ROWCOUNT = '+cast(@RowCount  as varchar(100)));

	UPDATE [DW].BatchDetail SET
	LandingEndTime = GETDATE(),
	LandingRecordCount = @RowCount
	WHERE BatchDetailId = @id

SET TRANSACTION ISOLATION LEVEL READ COMMITTED 

END