CREATE PROCEDURE [DW].[usp_ImportTransactionEntryLiability]
	@BatchLogId int,@LastBatchStart datetime, @CurrentBatchStart datetime
AS
BEGIN
	SET NOCOUNT ON;

	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

	INSERT INTO [DW].BatchDetail (BatchLogId,LandingTableName,LandingStartTime)
	VALUES (@BatchLogId,'L_TransactionEntryLiabilityBI',GETDATE())

	DECLARE @id int,@RowCount int
	SET @id = (SELECT @@IDENTITY)

	Truncate table [DW].[L_TransactionEntryLiabilityBI]

	INSERT INTO [DW].[L_TransactionEntryLiabilityBI]
	([TransactionEntryLiabilityID]
	,[TransactionEntryLiabilityAutoID]
	,[LiabilityAccountID]
	,[LiabilityTypeName]
	,[LiabilityNoteAccountID]
	,[LiabilityNoteID]
	,[Date]
	,[Amount]
	,[TransactionType]
	,[AnalysisID]
	,[AnalysisName]
	,[EndingBalance]
	,[AssetAccountID]
	,[NoteID]
	,[AssetDate]
	,[AssetAmount]
	,[AssetTransactionType]
	,[CreatedBy]
	,[CreatedDate]
	,[UpdatedBy]
	,[UpdatedDate]
	,[ParentAccountId]
	,[Flag]
	,NoteEndingBalance
	,NotePIKBalance
		)
	Select
		 te.[TransactionEntryLiabilityID]
		,te.[TransactionEntryLiabilityAutoID]
		,te.[LiabilityAccountID]
		,LT.[LiabilityTypeName]
		,te.[LiabilityNoteAccountID]
		,te.[LiabilityNoteID]
		,te.[Date]
		,te.[Amount]
		,te.[TransactionType]
		,te.[AnalysisID]
		,an.[Name] as 'AnalysisName'
		,te.[EndingBalance]
		,te.[AssetAccountID]
		,N.[CRENoteID]
		,te.[AssetDate]
		,te.[AssetAmount]
		,te.[AssetTransactionType]
		,te.[CreatedBy]
		,te.[CreatedDate]
		,te.[UpdatedBy]
		,te.[UpdatedDate]
		,te.[ParentAccountId]
		,te.[Flag]
		,npc.EndingBalance as NoteEndingBalance
		,pikbls.SumPikAmount as NotePIKBalance
		From cre.TransactionEntryLiability te
		left join core.Analysis an on an.AnalysisID = te.AnalysisID
		LEFT Join Cre.Note N ON N.Account_AccountID = te.AssetAccountID
		LEFT JOIN (
			Select acc.AccountID as AccountID,acc.name as 'LiabilityTypeName' ,'Debt' as [Type]  
			from cre.Debt d   
			Inner Join core.Account acc on acc.AccountID =  d.AccountID   
			where  IsDeleted<> 1   
	
			UNION ALL    
	
			Select acc.AccountID as AccountID,acc.name as 'LiabilityTypeName' ,'Equity' as [Type]  
			from cre.Equity d   
			Inner Join core.Account acc on acc.AccountID =  d.AccountID   
			where IsDeleted<> 1   
 
			UNION ALL    
	
			Select acc.AccountID as AccountID,acc.name as 'LiabilityTypeName' ,'Cash' as [Type]  
			from cre.Cash d   
			Inner Join core.Account acc on acc.AccountID =  d.AccountID   
			where IsDeleted<> 1
		) LT ON LT.AccountID = te.[LiabilityAccountID]
		Outer apply(
			---Select noteid,SumPikAmount from [dbo].[NotePIKBalance]
			Select n1.noteid,isnull(ABS(SUM(tr.Amount)),0) as SumPikAmount  
			from transactionEntry Tr  
			Inner join note n1 on n1.Notekey = tr.notekey  
			where tr.analysisID =  'C10F3372-0FC2-4861-A9F5-148F1F80804F' and tr.[Type] in ('PikPrincipalPaid','PIKPrincipalFunding')  			
			and tr.AccounttypeID = 1  
			and n1.notekey in (
				Select Distinct n2.noteid 
				from dw.liabilitynotebi ln
				Inner join cre.note n2 on n2.dealid =ln.dealid
			)
			and tr.date <= CAST(te.[Date] as date)  
			and n1.notekey = N.NoteID  
			group by n1.noteid 


		)pikbls ---on pikbls.noteid = n.creNoteID

		Outer apply(
			Select top 1 nc.Noteid,nc.EndingBalance,nc.periodenddate 
			from dw.[NPCEndingBalanceDefaultScenario] nc
			where nc.noteid = n.creNoteID and nc.periodenddate <= te.[Date]
			order by nc.periodenddate desc
		)npc

		where TransactionEntryLiabilityAutoID > (Select ISNULL(MAX(TransactionEntryLiabilityAutoID),0) from [DW].[TransactionEntryLiabilityBI])

SET @RowCount = @@ROWCOUNT
	Print(char(9) +'usp_ImportTransactionEntryLiability - ROWCOUNT = '+cast(@RowCount  as varchar(100)));

	UPDATE [DW].BatchDetail
	SET
	LandingEndTime = GETDATE(),
	LandingRecordCount = @RowCount
	WHERE BatchDetailId = @id

SET TRANSACTION ISOLATION LEVEL READ COMMITTED 

END
