CREATE PROCEDURE [DW].[usp_MergeLiabilityNote]
@BatchLogId int
AS
BEGIN

SET NOCOUNT ON

UPDATE [DW].BatchDetail SET
BITableName = 'LiabilityNoteBI',
BIStartTime = GETDATE()
WHERE BatchLogId = @BatchLogId and LandingTableName = 'L_LiabilityNoteBI'


Delete from [DW].[LiabilityNoteBI] where LiabilityNoteID  in (Select LiabilityNoteID from [DW].[L_LiabilityNoteBI])


INSERT INTO [DW].[LiabilityNoteBI]
([LiabilityNoteAutoID]
,[LiabilityNoteGUID]
,[AccountID]
,[DealAccountID]
,[DealID]
,[LiabilityNoteID]
,[LiabilityTypeID]
,[TypeName]
,[AssetAccountID]
,[AssetID]
,[PledgeDate]
,[CurrentAdvanceRate]
,[TargetAdvanceRate]
,[CurrentBalance]
,[UndrawnCapacity]
,[CreatedBy]
,[CreatedDate]
,[UpdatedBy]
,[UpdatedDate]
,[TempBalanceAsofCalcDate]
,[DebtEquityType]
,LiabilitySource
,LiabilitySourceText
,[LatestMaturityDate]
,[LatestEffectiveDate])
Select 
[LiabilityNoteAutoID]
,[LiabilityNoteGUID]
,[AccountID]
,[DealAccountID]
,[DealID]
,[LiabilityNoteID]
,[LiabilityTypeID]
,[TypeName]
,[AssetAccountID]
,[AssetID]
,[PledgeDate]
,[CurrentAdvanceRate]
,[TargetAdvanceRate]
,[CurrentBalance]
,[UndrawnCapacity]
,[CreatedBy]
,[CreatedDate]
,[UpdatedBy]
,[UpdatedDate]
,[TempBalanceAsofCalcDate]
,[DebtEquityType]
,LiabilitySource
,LiabilitySourceText
,[LatestMaturityDate]
,[LatestEffectiveDate]
From [DW].[L_LiabilityNoteBI]



DECLARE @RowCount int
SET @RowCount = @@ROWCOUNT

UPDATE [DW].BatchDetail SET
BIEndTime = GETDATE(),
BIRecordCount = @RowCount
WHERE BatchLogId = @BatchLogId and LandingTableName = 'L_LiabilityNoteBI'

Print(char(9) +'usp_MergeLiabilityNote - ROWCOUNT = '+cast(@RowCount  as varchar(100)));

END