CREATE PROCEDURE [DW].[usp_MergeGeneralSetupDetailsLiabilityNote]
@BatchLogId int
AS
BEGIN

SET NOCOUNT ON

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 

	UPDATE [DW].BatchDetail SET
	BITableName = 'GeneralSetupDetailsLiabilityNoteBI',
	BIStartTime = GETDATE()
	WHERE BatchLogId = @BatchLogId and LandingTableName = 'L_GeneralSetupDetailsLiabilityNoteBI'

	--IF EXISTS(Select top 1 [GeneralSetupDetailsLiabilityAutoID] from [DW].[L_GeneralSetupDetailsLiabilityNoteBI])
	--BEGIN

		TRUNCATE TABLE [DW].[GeneralSetupDetailsLiabilityNoteBI]
		
		INSERT INTO [DW].[GeneralSetupDetailsLiabilityNoteBI]
		([GeneralSetupDetailsLiabilityAutoID]
		,[GeneralSetupDetailsLiabilityID]
		,[EventId]
		,[PledgeDate]
		,[LiabilityNoteAccountID]
		,[PaydownAdvanceRate]
		,[FundingAdvanceRate]
		,[TargetAdvanceRate]
		,[MaturityDate]
		,[CreatedBy]
		,[CreatedDate]
		,[UpdatedBy]
		,[UpdatedDate]
		,[ScheduleType])

		Select
		gs.[GeneralSetupDetailsLiabilityAutoID]
		,gs.[GeneralSetupDetailsLiabilityID]
		,gs.[EventId]
		,e.EffectiveStartDate as 'PledgeDate'
		,e.AccountID as 'LiabilityNoteAccountID'
		,gs.[PaydownAdvanceRate]
		,gs.[FundingAdvanceRate]
		,gs.[TargetAdvanceRate]
		,gs.[MaturityDate]
		,gs.[CreatedBy]
		,gs.[CreatedDate]
		,gs.[UpdatedBy]
		,gs.[UpdatedDate]
		,(Case When ROW_NUMBER() OVER (Partition By e.AccountID Order By e.AccountID,EffectiveStartDate Desc) = 1 Then 'Latest' ELSE 'History' END) as ScheduleType

		from [CORE].GeneralSetupDetailsLiabilityNote gs
		INNER JOIN [CORE].[Event] e on e.EventID = gs.EventId and e.EventTypeID = 841
		INNER JOIN [CORE].[Account] acc ON acc.AccountID = e.AccountID
		where e.StatusID = 1
		and acc.Isdeleted <> 1

--END

DECLARE @RowCount int
SET @RowCount = @@ROWCOUNT

UPDATE [DW].BatchDetail SET
BIEndTime = GETDATE(),
BIRecordCount = @RowCount
WHERE BatchLogId = @BatchLogId and LandingTableName = 'L_GeneralSetupDetailsLiabilityNoteBI'

Print(char(9) +'usp_MergeGeneralSetupDetailsLiabilityNote - ROWCOUNT = '+cast(@RowCount  as varchar(100)));

SET TRANSACTION ISOLATION LEVEL READ COMMITTED 

END