
  <!--<div class="container">
    <router-outlet></router-outlet>
  </div>-->


  <div [ngClass]="{loginContainer: !isUserLoggedIn()}">
<!--<div *ngIf="_isUserLoggedIn == false">
  <div class="loginContainer"></div>
 </div>-->
    <div class="{{_environmentCSS}}  navbar-fixed-top" *ngIf="isUserLoggedIn()">
      <!--<push-notification #notification
                         title="{{title}}"
                         body="{{description}}"
                         icon="https://png.icons8.com/notification/android/24"
                         closeDelay="5000"
                         (action)="notification.onclick">
      </push-notification>-->
      <div class="cssload-container" *ngIf="isPageRender">
        <div class="cssload-whirlpool"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-2 w1 mob1">
            <div class="header_logo" id="dvHeaderlogo"> <a routerLink='/dashboard' (click)="closeChatbox()">M61 {{_environmentNamae}} </a> </div>
          </div>

          <form id="form1" class="form1" #f="ngForm">
            <div class="col-sm-3 w2 topsearchbutton">
              <div class="top_search">
                <div class="col-sm-3" id="autosearch" style="width:99%;">
                  <div style="width:98%;float:left">
                    <wj-auto-complete #acAsync id=acAsync
                                      class="customEdit"
                                      [itemsSourceFunction]="getAutosuggestData"
                                      [displayMemberPath]="'DisplayName'"
                                      [selectedValuePath]="'ValueID'"
                                      [placeholder]="'Ask a question'"
                                      [cssMatch]="'match'"
                                      [isContentHtml]="true"
                                      [isReadOnly]="isAnsReceived"
                                      (initialized)="initialized(acAsync)"
                                      (formatItem)="formatautocompleteListbox(acAsync, $event)"
                                      (selectedIndexChanged)="checkTextboxChanged(acAsync, $event)"
                                      (isDroppedDownChanged)="checkDroppedDownChanged(acAsync, $event)"
                                      (keyup.enter)="sendMessage(acAsync)">
                    </wj-auto-complete>

                    <button class="buttonvisibility">
                      <img src="../assets/images/search.png" alt="" title="" />
                    </button>

                    <input type="hidden" id="hdnSearchCount" />
                  </div>
                  <div style="width:2%;float:left">
                    <!--<div *ngIf="isChatEnabled">
                        <span class="loader"><span class="loader-box"></span><span class="loader-box"></span><span class="loader-box"></span></span>
                    </div>-->
                    <a href="https://docs.google.com/spreadsheets/d/1e23quEZKt9pCKWhn_0wdq5BuzGQ5jMzdprQPeNqrgqU/edit?ts=5f599aa2#gid=0" target="_blank">
                      <i>
                        <img src="../assets/images/question_mark.png" style="width:20px;height:20px;margin-top:9px" alt="" title="" />
                      </i>
                    </a>
                  </div>

                  <!-- Create div for current question -->
                  <div *ngIf="_isShowchatpopup" id="_hideDiv" (window:click)="closeinnerChatbox($event)">
                    <div id="showChatDiv" class="chatDivactivity aiinnerpagediv">
                      <div id="innerdiv" class="innerdiv"></div>
                    </div>
                  </div>
                  <!-- end -->
                </div>

              </div>
            </div>
          </form>

          <!--<div class="col-sm-3" style="margin-left:20%;text-align:right">
              <div class="top_right">
                  <ul>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-circle facircle" [ngStyle]="{'color':_selectedColor}"></i>
                              {{_lstScenario.ScenarioName}}<b class="caret"></b>
                          </a>
                          <ul class="dropdown-menu dm pull-right" style="border-radius: 9px;border: 1px solid grey;">
                              <li *ngFor="let item of _lstScenario">
                                  <a class="scenriotopdropdown" routerLinkActive="active" [attr.data-val]="item.AnalysisID" (click)="SaveScenarioUserMap(item.AnalysisID,item.ScenarioName)">
                                      <i class="fa fa-circle facircle" [ngStyle]="{'color':item.ScenarioColor}"></i>
                                      {{item.ScenarioName}}
                                  </a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>-->
          <!--<div class="col-sm-4 w4">
              <select [ngStyle]="{'background-color':this._selectedColor}" [(ngModel)]="_lstScenario.AnalysisID" id="AnalysisID" name="AnalysisID" #AnalysisID="ngModel" class="customscenriodropdown ibox1" (change)="SaveScenarioUserMap($event.target.value)">
                  <option *ngFor="let item of _lstScenario" [ngStyle]="{'background-color':item.ScenarioColor}" value={{item.AnalysisID}}>
                      {{item.ScenarioName}}
                  </option>
              </select>
          </div>-->
          <!--Push Notification-->
          <div class="notifies message-window">
            <div class="angular-notify angular-notify-info angular-notify-enter" id="divNotification">
              <div class="title" id="ptitle">
              </div>
            </div>
          </div>
          <!--<div class="notifies message-window"><div class="angular-notify angular-notify-info angular-notify-enter" id="divNotification"><div class="title" id="ptitle"></div><button class="closenotify" id="btnCloseNotification" onclick='closeNotification();'><i class="material-icons">close</i></button></div></div>-->


          <div class="col-sm-3 tright pull-right w5">
            <div class="top_right">
              <ul>
                <!--<li class="dropdown">
                    <div *ngIf="isUserLoggedIn()">
                        <div *ngIf="_isShowChatBox">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="openForm()">
                                <i class="fa fa-comments-o fa-5x"><span class="badge" style="margin-top:-20px;margin-left:-2px" id="chatbot"></span></i>
                            </a>

                            <ul class="dropdown-menu dm pull-right" style="right: -155px !important; left: auto;">
                                <li>
                                    <div class="chat-popup" id="myForm">
                                        <div class="botheader">
                                            <span class="headerpara">Chat With Us</span>
                                            <span class="close closeblack" (click)="closeForm()">×</span>
                                        </div>
                                        <div class="form-container" id="iframehbot">
                                            <iframe #iframehbot [src]="HBOTApiPath" style="width:100%;height:87vh;border-width:0px; "></iframe>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>-->
                <!--end-->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="GetAllUserNotification()">
                    <i class="fa fa-bell-o"><span class="badge" style="margin-top:-20px;margin-left:-2px" id="notificationscount">{{_NotificationscountText}}</span></i>
                  </a>
                  <ul class="dropdown-menu dm pull-right" style="width:470px;right: -155px !important; left: auto;">

                    <li>
                      <!-- <button (click)="openForm()">-->
                      <div *ngIf="_isNotificationsshow" style="top: 50%; position: absolute;  left: 50%; !important">
                        <span class="loader">
                          <span class="loader-box">
                          </span><span class="loader-box"></span>
                          <span class="loader-box">
                          </span>
                        </span>
                      </div>
                      <div class="noti_list Customscrollbar" id="style-5" (click)="onclickeventnotifi($event)">

                        <table style="width:99%;">
                          <thead>
                            <tr>
                              <th>
                                <div class="notificationheader">
                                  <table>
                                    <tr>
                                      <td class="headertd"><p class="headerpara">Notification</p></td>
                                      <td>
                                        <a (click)="ClearAllNotification()" role="button" class="">Clear All</a>
                                      </td>
                                    </tr>
                                  </table>
                                </div>

                              </th>
                            </tr>
                          </thead>
                          <tbody id="notificationsdetails">
                            <tr>
                              <td>
                                <div class="notificationmaindiv" *ngIf="currentnotificationcount==0">
                                  <p class="norecordfound">{{notificationmessage}}</p>
                                </div>
                              </td>
                            </tr>

                            <tr *ngFor="let notifi of unotification">
                              <td class="ts2" id={{notifi.UserNotificationID}} style="width:400px !important">

                                <div class="notificationmaindiv" id="nx" *ngIf="currentnotificationcount>0">

                                  <!--<div class="notificationmaindiv" id="nx" >-->

                                  <a data-dismiss="alert" class="close" aria-label="close" (click)="CloseNotification(notifi.UserNotificationID,$event)">×</a>

                                  <table>
                                    <tr>
                                      <td>
                                        <div [ngClass]="notifi.UColor">
                                          {{notifi.SenderFirstLetter}}

                                        </div>
                                      </td>
                                      <td width="330">
                                        <span class="notificationpara" [innerHTML]="notifi.Msg"></span>
                                      </td>
                                      <td width="68">
                                        <span class="divtime" [innerHTML]="notifi.Modified"></span>
                                      </td>
                                    </tr>
                                  </table>


                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="seeAll" id="seeAlldiv" *ngIf="currentnotificationcount>0">
                        <a href="#/allnotifications">See all previous notifications…</a>
                      </div>
                    </li>

                  </ul>
                </li>

                <li class="dropdown" *ngIf="_isShowAddNewTopMenu" id="addmenu" style="margin-right: 7px;">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </a>
                  <ul class="dropdown-menu dm pull-right">
                    <li>
                      <a style="padding-left: 7px;" (click)="openLink('dealdetail')">

                        <i style="padding-right:12px;">
                          <img src="../assets/images/dealIcon.png" style="height:17px;width:17px;">
                        </i>
                        Deal
                      </a>
                    </li>
                    <li>
                      <a style="padding-left: 7px;" (click)="openLink('financingdetail')">
                        <i style="padding-right:12px;">
                          <img src="../assets/images/financingIcon.png" style="height:17px;width:17px;">
                        </i>
                        Financing line
                      </a>
                    </li>
                    <li>
                      <a style="padding-left: 7px;" (click)="openLink('taskdetail')">

                        <i style="padding-right:12px;">
                          <img src="../assets/images/Task.png" style="height:18px;width:18px;">
                        </i>
                        New Task
                      </a>
                    </li>

                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="ImpersonateUserCount()">{{getUserName()}} <span *ngIf="_isShowReturntoimpersonator"> (Delegated Authority)</span><b class="caret"></b></a>
                  <ul class="dropdown-menu dm pull-right">
                    <li>
                      <a style="padding-left: 7px;" routerLink="/myaccount" routerLinkActive="active">
                        <i class="fa fa-user" style="color:#4a4a4a;padding-right: 12px;font-size: inherit;"></i>
                        My account
                      </a>
                    </li>
                    <li>
                      <a style="padding-left: 7px;" routerLink="/userpermission" routerLinkActive="active" *ngIf="HideMenu()">
                        <i class="fa fa-users" style="color:#4a4a4a;padding-right: 12px;font-size: inherit;"></i>
                        User Management
                      </a>
                    </li>
                    <li>
                      <a style="padding-left: 7px;" routerLink="/datamanagement" routerLinkActive="active" *ngIf="HideMenu() ||  MenuforViewer()">
                        <i class="fa fa-database" style="color:#4a4a4a;padding-right: 12px;font-size: inherit;"></i>
                        Data Management
                      </a>

                    </li>
                    <li>
                      <a (click)="openLink('notificationsubscription')" style="padding-left: 7px;">
                        <i class="fa fa-bell-o" style="color:#4a4a4a;padding-right: 12px;font-size: inherit;"></i>
                        Notification Subscription
                      </a>
                    </li>

                    <li *ngIf="_isShowImpersonate">
                      <a style="padding-left: 7px;" (click)="showDialog()">
                        <i>
                          <img style="width:15px;height:15px;margin-right:12px;" src="../assets/images/impersonate.png">
                        </i> Delegated Authority
                      </a>
                    </li>

                    <li *ngIf="_isShowReturntoimpersonator">
                      <a style="padding-left: 7px;" (click)="returnToImpersonator()">
                        <i>
                          <img style="width:15px;height:15px;margin-right:12px;" src="../assets/images/impersonate.png">
                        </i>Return to Delegator
                      </a>
                    </li>



                    <li class="roleseprator"> </li>
                    <li>
                      <a (click)="logout()" style="padding-left: 7px;">
                        <i class="fa fa-sign-out" style="color:#4a4a4a;padding-right: 12px;font-size: inherit;"></i>
                        <span> Logout</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main_content">
      <div class="container">
        <div class="row">
          <div class="col-sm-1 w6 resmenumargin" *ngIf="isUserLoggedIn()">
            <nav class="main-menu customtopmargin">
              <div class="scrollbar" id="style-1">
                <ul>

                  <li class="darkerli" *ngIf="_isShowScenario">
                    <a class="custom-arrow" routerlinkactive="active" href="#">
                      <i>
                        <img src="../assets/images/analysis.png" class="customleftmenu">
                      </i>
                      <span class="nav-text">Scenarios</span>

                    </a>

                    <ul class="submenu-ms scenriomenu" style="display:none;">
                      <li>
                        <a routerLink="/scenarios" routerLinkActive="active">
                          <i>
                            <img class="customleftmenu" src="../assets/images/analysis.png">
                          </i> <span class="submenu-nav-text">Scenarios</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/indexes" routerLinkActive="active">
                          <i>
                            <img class="customleftmenu" src="../assets/images/index_rates.png">
                          </i> <span class="submenu-nav-text">Index Scenarios</span>
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li class="darkerli" *ngIf="_isShowFeeConfiguration">
                    <a routerLink="/feeconfiguration" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/Configuration.png" class="customleftmenu">
                      </i> <span class="nav-text">Fee Configuration</span>
                    </a>
                  </li>

                  <li class="darkerli" *ngIf="_isShowDynamicPortfolio">
                    <a routerLink="/portfolio" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/dynamicPortfolio.png" class="customleftmenu">
                      </i> <span class="nav-text">Dynamic Portfolios</span>
                    </a>
                  </li>


                  <li class="darkerli" *ngIf="_isShowTransactionReconciliation">
                    <a class="custom-arrow" routerlinkactive="active" href="#">
                      <i>
                        <img src="../assets/images/guarantee.png" class="customleftmenu">
                      </i>
                      <span class="nav-text">Transaction</span>

                    </a>

                    <ul class="submenu-ms Transactionmenu" style="display:none;">
                      <li>
                        <a routerLink="/Transcationreconciliation" routerLinkActive="active">
                          <i>
                            <img src="../assets/images/guarantee.png" class="customleftmenu">
                          </i> <span class="submenu-nav-text">Transaction Reconciliation</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/Transactionaudit" routerLinkActive="active">
                          <i>
                            <img src="../assets/images/TransAudit.png" class="customleftmenu">
                          </i> <span class="submenu-nav-text">Transaction Audit</span>
                        </a>
                      </li>
                    </ul>
                  </li>



                  <li class="darkerli" *ngIf="_isShowPeriodicCloseMenu">
                    <a routerLink="/periodicclose" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/propertyIcon.png" class="customleftmenu">
                      </i> <span class="nav-text">Periodic Close</span>
                    </a>
                  </li>

                  <li class="darkerli" *ngIf="_isShowCMMenu">
                    <a routerLink="/CalculationManager" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/periodicDataIcon.png" class="customleftmenu">
                      </i> <span class="nav-text">Calculation Manager</span>
                    </a>
                  </li>

                  <li class="darkerli" *ngIf="_isShowreportMenu">
                    <a class="custom-arrow" routerlinkactive="active" href="#">
                      <i>
                        <img src="../assets/images/reportsIcon.png" class="customleftmenu">
                      </i>
                      <span class="nav-text">Reports</span>

                    </a>

                    <ul class="submenu-ms Transactionmenu" style="display:none;">
                      <li>
                        <a routerLink="/report" routerLinkActive="active">
                          <i>
                            <img src="../assets/images/reportsIcon.png" class="customleftmenu">
                          </i> <span class="submenu-nav-text">Reports</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/reporthistory" routerLinkActive="active">
                          <i>
                            <img src="../assets/images/TransAudit.png" class="customleftmenu">
                          </i> <span class="submenu-nav-text">Report History</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="darkerli" *ngIf="_isShowTagMasterMenu">
                    <a routerLink="/tags" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/tag.png" class="customleftmenu">
                      </i> <span class="nav-text">Tags</span>
                    </a>
                  </li>


                  <li class="darkerli" *ngIf="_isShowWorkFlowMenu">
                    <a routerLink="/workflow" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/workflow.png" class="customleftmenu">
                      </i> <span class="nav-text">Workflow</span>
                    </a>
                  </li>

                  <li class="darkerli">
                    <a routerLink="/task" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/Task.png" class="customleftmenu">
                      </i> <span class="nav-text">Task Manager</span>
                    </a>
                  </li>

                  <li class="darkerli" *ngIf="_isShowDealMenu">
                    <a routerLink="/deal" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/dealIcon.png" class="customleftmenu">
                      </i> <span class="nav-text">Deals</span>
                    </a>
                  </li>
                  <li class="darkerli" *ngIf="_isShowNoteMenu">
                    <a routerLink="/note" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/noteIcon.png" class="customleftmenu">
                      </i> <span class="nav-text">Notes</span>
                    </a>
                  </li>
                  <li class="darkerli" *ngIf="_isShowPropertyMenu">
                    <a routerLink="/property" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/propertyIcon.png" class="customleftmenu">
                      </i> <span class="nav-text">Properties</span>
                    </a>
                  </li>

                  <li class="darkerli" *ngIf="_isShowFinancingMenu">
                    <a routerLink="/financingWareHouse" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/financingIcon.png" class="customleftmenu">
                      </i> <span class="nav-text">Financing</span>
                    </a>
                  </li>

                  <li class="darkerli" *ngIf="_isShowUnderwritingMenu">
                    <a class="custom-arrow" routerlinkactive="active" href="#">
                      <i>
                        <img src="../assets/images/IntegrationIcon.png" class="customleftmenu">
                      </i>
                      <span class="nav-text">Integration </span>

                    </a>

                    <ul class="submenu-ms" style="display:none; ">
                      <li>
                        <a routerLink="/ImportUnderwriting" routerLinkActive="active">
                          <i>
                            <img class="customleftmenu" src="../assets/images/beta.png">
                          </i> <span class="submenu-nav-text">BackShop</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="/ImportServicingLog" routerLinkActive="active">
                          <i>
                            <img class="customleftmenu" src="../assets/images/Servicing_module.png">
                          </i> <span class="submenu-nav-text">Servicing</span>
                        </a>
                      </li>
                    </ul>
                  </li>






                  <!--<li class="darkerli" *ngIf="_isShowCMMenu">
                      <a routerLink="/scenarios" routerLinkActive="active">
                          <i>
                              <img src="images/servicingIcon.png" class="customleftmenu">
                          </i> <span class="nav-text">Scenarios</span>
                      </a>
                  </li>-->
                  <!--<li class="darkerli" *ngIf="_isShowCMMenu">
                      <a routerLink="/indexes" routerLinkActive="active">
                          <i>
                              <img src="images/servicingIcon.png" class="customleftmenu">
                          </i> <span class="nav-text">Index</span>
                      </a>
                  </li>-->




                  <li class="darkerli" *ngIf="_isShowRuleEngineMenu">
                    <a routerLink="/function" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/IntegrationIcon.png" class="customleftmenu">
                      </i> <span class="nav-text">Rule Engine</span>
                    </a>
                  </li>



                  <li class="darkerli">
                    <a routerLink="/help" routerLinkActive="active">
                      <i>
                        <img src="../assets/images/help.png" class="customleftmenu">
                      </i> <span class="nav-text">Help</span>
                    </a>
                  </li>

                  <!--<li class="darkerli" *ngIf="_isShowreportMenu">
                      <a routerLink="/reportdetail" routerLinkActive="active" ">
                          <i>
                              <img src="images/reportsIcon.png" class="customleftmenu">
                          </i>  <span class="nav-text">Reports</span>
                      </a>
                  </li>-->
                </ul>
              </div>
            </nav>
          </div>

          <div class="col-sm-11 w7 customtopmargin custompaddingcol">
            <router-outlet></router-outlet>
          </div>

          <!--<div *ngIf="isUserLoggedIn()">
          <div *ngIf="_isShowChatBox">
              <button (click)="openForm()">
                  <a class="open-button">
                      <i>
                          <img src="Images/Chat_icon.png" style="height:100px;width:100px;">
                      </i>
                  </a>
              </button>
              <div class="chat-popup" id="myForm">
                  <div class="botheader">
                      <span class="customheading" style="color:white !important">Chat With Us</span>
                      <span class="close" (click)="closeForm()">×</span>
                  </div>

                  <div class="form-container">
                      <iframe allow="microphone" src="https://hbot.azurewebsites.net/?Token=usertoken&TokenUI=13cd1ec7-7d7c-4f4f-9339-66788ff8714a" style="width:100%;height:60vh;border-width: 0px;"></iframe>

                  </div>
                  </div>
              </div>
          </div>-->
          <!--end-->
        </div>
      </div>
    </div>
    <app-select-user [_userNameList]="userNameList"
                     [_returnToImpersonator]="_returnToImpersonator">
    </app-select-user>
  </div>

